[2019-10-03 20:41] dsunwar commented on #803
@mtakane Thanks for this. Yes, there are two content for the same topic and it is still a draft. I would like to re-start from the very beginning.  So, more than happy to delete them for now.

[2019-10-04 17:36] pcarney8 opened #806 "The DDD perspective page shows "This perspective contains: Impact Mapping" even though it's not mentioned on the page"
Impact Mapping should be removed from https://openpracticelibrary.com/perspective/domain-driven-design/

It's not mentioned and to the best of my knowledge it didn't actually form out of DDD or is related in any way. But I could be wrong.

Either way, it's _not_ actually mentioned in the perspective so it should be removed from the "This perspective contains"

[2019-10-24 08:34] tdbeattie opened #821 "Add new thought leadership reference to Event Storming"
Great new content from @pcarney8  at https://opensource.com/open-organization/19/10/collaboration-breakthrough-greenpeace which could be referenced out from the Event Storming practice page.

[2019-10-28 20:06] beckerjs commented on #821
@tdbeattie I started to add this link...but then I realized what he says doesn't really add a lot of understanding to Even Storming outside of what's on the OPL post. And the title of the blog his sound clip is in isn't really focused on Event Storming, per se....so I'm thinking maybe we shouldn't link to it?

[2019-10-29 15:13] sultanis opened #833 "How to Start? Simple Decision Tree"
How to start? lot of people ask how to start there digital transformation journey, which practice should I use?  is there way to simplify the selection and process? what the proven strategy\practice?

I would like to share impressive tool that inspired me, it structured the innovation activity in the easy way,
[https://github.com/sultanis/boardofinnovation/blob/master/Innovation-A-to-Z-Board-of-In

[2019-12-07 18:17] #821 closed

[2019-12-20 22:16] jameshbarton opened #863 "Create new foundational practice: Candy or Swag?"
I first saw this practice in action at Red Hat Tech Exchange in October 2019.  It works well as an ice-breaking exercise to demonstrate the value of open source principles collaboration and transparency.  It is a reward-based adaptation of the Prisoner's Dilemma.

opensource.com post by Gina Likins, also the Tech Exchange leader:
https://opensource.com/education/16/6/candy-or-swag-game-teaching-op

[2020-01-03 21:58] jameshbarton commented on #863
I added the proposed content for this practice in the CMS using markdown as described in the project README.  See the new content here:
https://openpracticelibrary.com/admin/#/collections/practice/entries/candy-or-swag

I was hoping to link this presentation excerpted from a larger session at Red Hat Americas Tech Exchange:  [candy-or-swag-preso.pdf](https://github.com/openpracticelibrary/openprac

[2020-01-04 10:10] tenfourty opened #868 "Update the practice for Feature Toggles"
The engineering practice of Feature Flags (aka Feature Toggles or Feature Flipping) is currently missing. There is a slight reference to this in Dark Launches and Continuous Delivery but the actual practice is missing.

[2020-01-04 11:49] tenfourty commented on #176
Looking back through this issue and it might be okay to close this issue as the Gitter chat room seems pretty active and IMHO resolves this issue - are folks okay with closing this?

[2020-01-04 14:14] tenfourty commented on #868
Damn, noticed that @valyonchev was actually ahead of me (as usual) and there is an article for [Feature Toggles](https://openpracticelibrary.com/practice/feature-toggles/).
I will update my PR to update that article instead.

[2020-01-04 17:56] tenfourty commented on #868
Here I will list the changes I think need to be made to this article, lets consider this the “problem statement” for my PR.

- I think this Practice should move from the Options Pivot to the Foundation as this is a Foundational Technical practice.
- changing the number of people (only requires one person to do this practice)
- A more complete definition and a simple example of a feature toggle
- u

[2020-01-05 10:30] valyonchev commented on #868
Thanks for taking the time to improve this article. A more complete definition with a good example is indeed a very valuable addition. If you have good external links to mention it is also great.

I would like to hear more about the first two points, though.

- **Options Pivot positioning**: this practice provides a closure of the loop for what could have started with Design of Experiments and cou

[2020-01-06 04:58] tenfourty commented on #868
Further on the point of options pivot - I believe that this practice underpins experiments and hypothesis driven development but it is still a technical activity that allows you to pivot around options rather than to determine which options to build or present to the user.

[2020-01-14 17:00] jameshbarton opened #875 "Update candy-or-swag practice to add preso pdf and fix formatting errors"
There are two formatting errors in the initial publication of candy-or-swag.
1. There's an extra uninterpreted "## What Is It?" at the end of the current content.
2. In the "Phase 1: Control" section, there is a numbered list that isn't being interpreted correctly (at least in Chrome).  I believe that adding a newline after the preceding paragraph -- "First, explain the rules of the game." -- will

[2020-01-23 12:09] tenfourty commented on #719
I think this item can be resolved as the article is now written - https://openpracticelibrary.com/practice/open-decision-making/

[2020-01-23 12:09] #719 closed

[2020-01-23 12:10] tenfourty commented on #176
closing this as there weren't any objections, this issue can always be reopened.

[2020-01-23 12:10] #176 closed

[2020-01-27 18:48] m-czernek opened #878 "Team Shared History article is missing"
Hi,

Where can I find the `Team Shared History` article please? Seems like it has been removed; has it been replaced by another article?

[2020-01-28 05:40] heyjerrybecker commented on #878
Hey Marek!

It looks like this practice was removed about 10 months ago. The content was merged into the Social Contract practice.

Here are the details: https://github.com/openpracticelibrary/openpracticelibrary/pull/700

Best,
Jerry Becker

[2020-01-28 14:09] tdbeattie opened #879 "Consider the experience when someone tries to access a removed Practice page and gets 404"
We have been printing and giving away lots of Open Practice Library card decks (as maintained in https://github.com/openpracticelibrary/carddecks/). Each card represents a practice in the Open Practice Library and includes a QR code which, when scanned, launches the practice's web page.

There have been a couple of instances where users of these cards have scanned a QR code for a practice that is

[2020-01-28 14:11] tdbeattie commented on #878
Yeap, there's been a couple of cases where old practice pages no longer exist. This is one of them.

As people may be using the card decks to scan a QR code, perhaps we need to think about a better 404 page to explain what might have happened? I've added https://github.com/openpracticelibrary/openpracticelibrary/issues/879 to capture this.

[2020-01-29 08:12] m-czernek commented on #878
Thanks folks. I would suggest not deleting the old URLs, but keeping the old articles while having a redirect to the new ones, so that folks with the card decks can find the practices.

There could also be a page for retired practices, i.e. if a practice has no new page, there could be a catch-all redirect to a "this practice has been retired" page.

[2020-01-29 15:48] tdbeattie commented on #878
Thanks @m-czernek - these seem very sensible suggestions. I'll close this issue about this specific practice and we can work on reaching consensus for this feature at #879

[2020-01-29 15:48] #878 closed

[2020-01-29 16:35] tdbeattie opened #881 "Decision Jam tile image was broken"
I noticed the tile image wasn't working for the recently added Decision Jam practice. I've temporarily taken it out (so stock image now shows) and adding this issue to replace that with proper image via new PR.

<img width="837" alt="Screenshot 2020-01-29 at 16 31 28" src="https://user-images.githubusercontent.com/6207402/73376340-34c41180-42b5-11ea-9f19-4614cddc26e2.png">

[2020-02-02 13:06] heyjerrybecker commented on #881
Cool - thanks for doing that @tdbeattie - Now that it's up and working, I tried going back in and adding the tile image I originally wanted. We'll see if it works!

[2020-02-02 13:11] heyjerrybecker commented on #879
I like this idea @tdbeattie
A well-designed 404 page can help reduce a user's frustration when they don't get where they're trying to go. It might also be helpful to try to redirect old practice pages to new ones, if those practices were merged. We'd just have to keep track of this ourselves, which could get a little cumbersome....but would help with the overall UX

[2020-02-04 18:30] tdbeattie commented on #868
Fixed by https://github.com/openpracticelibrary/openpracticelibrary/pull/870

[2020-02-04 18:30] #868 closed

[2020-02-04 18:33] tdbeattie commented on #803
Correct article is now live.

[2020-02-04 18:33] #803 closed

[2020-02-04 20:20] tdbeattie commented on #716
Fixed by https://github.com/openpracticelibrary/openpracticelibrary/pull/747

[2020-02-04 20:20] #716 closed

[2020-02-04 20:22] tdbeattie commented on #593
https://openpracticelibrary.com/practice/network-mapping/ introduced by https://github.com/openpracticelibrary/openpracticelibrary/pull/826

There are many other examples of great team alignment and formation practices. Suggest these are added as additional GitHub issues.

[2020-02-04 20:22] #593 closed

[2020-02-04 20:25] tdbeattie commented on #568
Moving this discussion to the Card Decks repo - https://github.com/openpracticelibrary/carddecks/issues/45

[2020-02-04 20:25] #568 closed

[2020-02-04 20:32] tdbeattie commented on #51
This was also discussed in https://github.com/openpracticelibrary/openpracticelibrary/issues/593 which was resolved by https://openpracticelibrary.com/practice/network-mapping/ introduced by #826

There are many other examples of great team alignment and formation practices. Suggest these are added as additional GitHub issues.

[2020-02-04 20:32] #51 closed

[2020-02-04 20:41] tdbeattie opened #886 "Add links to Whiteboarding videos as a Further Information link"
Several great videos have been produced by Red Hat people describing practices in the Open Practice Library.

It would be great to link out to them for people to access as "further information"

Specific practices I've found so far with related practices:

- [ ] [Metrics Based Process Mapping](https://www.youtube.com/watch?v=g1XSbEwR3bU&list=PLnqlDDtSH2A4e3dTIGHGyhCYmwIoaYxV5&index=64)

- [ ] [Imp

[2020-02-05 11:20] tdbeattie opened #889 "Add Stakeholder Mapping practice"
When planning strategic initiatives, it's often valuable to visualise who all the stakeholders are and plot information such as level of influence or level of support.

This practice can then be used to drive conversation and visualise what activities may drive a shift in influence or support.

This would be a good practice to add to either the Discovery Loops or Cultural Foundation.

[2020-02-06 16:45] tdbeattie commented on #881
@heyjerrybecker - I found a workaround for this as the same problem occurred in another PR I was looking at.

I think the rendering problem is with higher res images. When I reduced this down to 476 × 326, it seems to work. I've applied this to you Decision Jam with PR https://github.com/openpracticelibrary/openpracticelibrary/pull/893 with deploy preview https://deploy-preview-893--openpracticeli

[2020-03-05 02:12] ozchamo opened #915 "Epic"
I was asked today if I knew what Epic was in the frame of Agile practices. I did not know nor had I ever heard of it,  so I hit the Open Practice Library first, only to not-find it.

Apparently coined by Atlassian, "An agile epic is a body of work that can be broken down into specific tasks (called “stories,” or “user stories”) based on the needs/requests of customers or end users. Epics are a hel

[2020-03-05 04:21] heyjerrybecker commented on #915
Hey @ozchamo - that is for sharing this! Yes, we use the term "Epic" a lot when communicating the various Agile components. We don't have a practice in the Library about it because it's just a term, not a methodology or an activity you can run with your team.

[2020-03-18 09:57] boogiespook opened #917 "Add a link to the online priority-sliders app"
Update content/practice/priority-sliders.md with a link to on online demo of the sliders technique.

[2020-03-18 10:21] boogiespook commented on #917
Github updated: https://github.com/openpracticelibrary/openpracticelibrary/commit/475b66cd621a977ec55e01ae158c8322dde5305b

[2020-03-18 10:21] #917 closed

[2020-03-31 18:25] heyjerrybecker opened #938 "Create Big Picture Practice"
It's a best-practice, part of a walk-the-walls journey, and it's a great communication tool to align the team and stakeholders on architecture decisions.

[2020-04-06 13:23] heyjerrybecker opened #943 "Create Core Team Practice"
Culture foundation practice for core team concept of PO/PM, Designer, Engineer as minimum team members for any product team

[2020-04-24 13:02] jijiechen opened #1019 "Static resources don't load when preview locally"
Hey folks, I'm trying to preview the open practice library website locally and I'm running into some issues.

After the build completed successfully according to [docs here](https://github.com/openpracticelibrary/openpracticelibrary/blob/staging/DEVELOPING.md#running-the-site-locally), I launched the website using a browser and the browser complained that it can't find many of static resources, in

[2020-04-24 13:14] jijiechen opened #1020 "build script is generating warning messages when converting images whose filename contain spaces"
When executing the build script `./build.sh` on local computer according to [docs here](https://github.com/openpracticelibrary/openpracticelibrary/blob/staging/DEVELOPING.md#running-the-site-locally), there are some warning messages printed out that there are some files/directories can't be found on disk.

These warnings do not cause the build process to fail but the execution of certain sub-comma

[2020-04-24 13:22] jijiechen opened #1021 "Hugo can't find two partials: twitter_card and semantic.html"
When executing the `./build.sh` script according to [docs here](https://github.com/openpracticelibrary/openpracticelibrary/blob/staging/DEVELOPING.md#running-the-site-locally), the `hugo` step complained that two partials can not be found and the build failed:

[code]

Removing the reference blocks in `layouts/partials/header.html` helps pass the build.

[2020-04-24 13:28] springdo commented on #1021
Hi @jijiechen How's it going? I'd have to look into this in a bit more detail, but off the top of my head i think if you're developing locally you need to make sure you have the `Casper` Theme installed.

`git submodule update --init --recursive`
 https://github.com/openpracticelibrary/openpracticelibrary/blob/staging/DEVELOPING.md#quick-start

[2020-04-24 13:29] springdo commented on #1020
Hi Jay! Yeah man, this issue has not been seen as critical but defo has annoyed me for some time. If you have a pr or quick fix that would be great to get in. :)

[2020-04-24 13:34] jijiechen commented on #1019
Problem solved.
I should fetch the hugo theme `casper` before I build and preview the site.

If this can be documented, it would be great:

[code]

[2020-04-24 13:38] jijiechen commented on #1019
Solution verified! By executing this command which is already mentioned in the docs, the problem should go away:

[code]

[2020-04-24 13:38] #1019 closed

[2020-04-24 13:41] jijiechen commented on #1021
Good point @springdo
So these two partials are provided by the theme! After the theme is fetched correctly, the build is not working perfectly.

Sorry for bothering!

[2020-04-24 13:41] #1021 closed

[2020-04-24 13:43] jijiechen commented on #1020
Let me do it.

[2020-04-27 15:01] #1020 closed

[2020-05-07 06:18] kattekrab opened #1027 "Can't upload image to t2r2 perspectice"
I've not been able to add images via netlify - I dunno if this is cos I'm just doing it wrong, or I've missed a step, or I'm just not allowed to do it!  Here's the image... I'm trying to add to https://openpracticelibrary.com/practice/t2r2-talk-type-read-review/
PNG or JPG?

![t2r2](https://user-images.githubusercontent.com/172755/81260819-2177cd80-907e-11ea-8854-7b33297d9bd6.jpg)
<img width="1129

[2020-05-11 16:19] heyjerrybecker commented on #881
Good find @tdbeattie! I'll make sure to experiment with this in the future if I run into any problems

[2020-05-25 01:29] kattekrab commented on #1027
this is fixed in prod!
Thanks @springdo

[2020-05-25 01:29] #1027 closed

[2020-06-02 14:41] pcarney8 opened #1039 "Add Wardley Maps"
Simon Wardley: https://blog.gardeviance.org/2015/02/an-introduction-to-wardley-value-chain.html

[2020-06-02 14:50] pcarney8 opened #1040 ""I used this count" to see each practice popularity"
- [ ] I've used this practice

and then a counter

## number of times used: <ins>__1234__</ins>

[2020-06-08 20:52] rmiluzzi opened #1044 "Portuguese translation"
I would like to translate the website content into Portuguese. It would be possible?

[2020-06-11 20:41] DarcieF opened #1221 "Media Gallery Opens in Modal for Fullscreen View"
As Nova I need to open images/video in the media gallery to a fullscreen view so that I can examine it more closely.

**NOTES**
- Media gallery expands into modal to show fullscreen view of the asset
- Video can be fixed height/width or can also get larger in that view (maybe needs to be another ticket)

**BLOCKERS**
- Need design direction for this feature / can leverage UI library functionality

[2020-06-13 14:16] FedericoAguirre opened #1049 "Pomodoro technique"
Pomodoro is a technique about productivity. It is about working in one thing for 25 minutes and relax 5 minutes for 4 times, after that you can take a longer break. It improves productivity a lot.

https://francescocirillo.com/pages/pomodoro-technique

[2020-06-18 16:15] DarcieF opened #1220 "Practice Page - Optimization for Accessibility, SEO & UX"

[2020-06-18 16:41] DarcieF opened #1219 "Terms Page - Conditions of content & open source"

[2020-06-23 17:46] mtakane commented on #464
There is a video done by RH Consulting that was really cool on how BDD improved communication on teams: https://www.youtube.com/watch?v=VzO6xV6t_SA&list=PLkg9jnMh6bhd0avDugIM81BU9VkBEaMMz&index=12

[2020-07-06 22:05] trncb opened #1070 "Practice and author not found in CMS"
I would like to improve the [Lean Value Tree](https://openpracticelibrary.com/practice/lean-value-tree/) practice.

However, neither the practice or author can be found in the CMS.

![image](https://user-images.githubusercontent.com/25230171/86653306-33073280-c039-11ea-9917-927dece65543.png)

![image](https://user-images.githubusercontent.com/25230171/86653420-4914f300-c039-11ea-9c9e-fc7d955a18b2.

[2020-07-07 08:38] springdo commented on #1070
Hello @trncb 👋 - Thanks for pointing this one out, I'd not noticed it before. Let me take a look and see what's happening in the CMS. Could be some misformed data but I'll check inot it.

[2020-07-08 07:40] trncb commented on #1070
thanks @springdo . Just reading your comment on the PR. If this practice was meant to be deleted, that is all good! My contribution was just going to do a whole lot of copyediting to make it more legible.

[2020-07-09 14:10] springdo commented on #1070
Hey @trncb ! I just noticed your comment now! ..... and those changes have made their way back in with some minor tweaks.... Feel free to update though 😸

[2020-07-19 07:05] trncb commented on #1070
Thanks @springdo . I have made the changes successfully and the PR is waiting review. Thanks for your help.

[2020-07-19 07:05] #1070 closed

[2020-07-21 13:02] tdbeattie commented on #1049
Hey @FedericoAguirre - i've used this practice previously and it is very powerful. It would be a great addition to the OPL!

[2020-07-21 13:04] tdbeattie commented on #1044
Hi @rmiluzzi - great suggestion! I don't think the current site has multi-lingual capabilities (but is something on the roadmap) so, for now, feel free to fork this repo and translate to Portuguese.

[2020-07-31 17:18] heyjerrybecker opened #1277 "Communications Solution"
As Nova, I want to be able to communicate with community members to ask clarifying questions on practices and share my knowledge with others.

Acceptance Criteria:
GIVEN I am on any page in OPL
WHEN I click the "AMA" or "Chat" button
THEN a chat application opens whereby I can communicate with other users

OPTIONS:
Slack Channel
[Gitter Sidecar](https://sidecar.gitter.im/)
[Disqus](https://disqus.

[2020-07-31 19:20] shaheinm opened #1217 "Link Authors in Practices to Authors directory/schema in Netlify CMS (3)"
## For the `next` implementation (V2)

As Brenda, I need to ensure that my user account in Netlify CMS is linked to my information, so that any content I've contributed to can reliably show my name and avatar.

**_ACCEPTANCE CRITERIA_**
**Given** I am editing content in Netlify CMS
**When** I add a GitHub user name to the `authors` list
**Then** The entered username is linked to an Author with the

[2020-08-03 18:53] mtakane commented on #938
initial commit was done to create this. anything else will be additional and a new issue. closing this.

[2020-08-03 18:53] #938 closed

[2020-08-03 18:55] mtakane commented on #889
this has actually been done. https://openpracticelibrary.com/practice/stakeholder-map/

[2020-08-03 18:55] #889 closed

[2020-08-03 18:58] mtakane commented on #881
Seems to be resolved at this point.

[2020-08-03 18:58] #881 closed

[2020-08-11 17:42] omcneil opened #1215 "Practice Card refactor (3)"
Considerations:

- tease text appears in black over the card image with a 75% white background...
 - put the camera icon in the upper right
- Border in non-hover state
- Color bar matching Loop section
- Then don't resize card on hover - just add the shadow

Solutions:
https://material-ui.com/components/grid-list/

[2020-08-12 16:46] lallmon opened #1209 "Mobile Rendering Pass - Home Page"
As Nova, I want to be able to see the OPL content on my phone, so I can quickly reference practices.

Given a mobile device,
when I visit the home page,
The the content is readable and not obscured, the fonts are proportional and the UI is navigable.

[2020-08-13 19:32] lallmon opened #1214 "404 Page - Gradient Color Not Randomizing"
It's set up to randomize the gradient, but isn't.

Also there are other fun statements to add to the array while fixing this bug:
- Oops- looks like we took the “Storm” in  “Event Storm” a little too seriously...
- Off trying to find out who Keyser Soze is in this Network Map
- at standup - try again later
- well this is gonna go in the retrospective...
- looks like we carried this page over to th

[2020-08-13 20:46] lallmon commented on #863
https://openpracticelibrary.com/practice/candy-or-swag/

Thanks Jim!

[2020-08-13 20:46] #863 closed

[2020-08-13 20:58] shaheinm commented on #1049
@FedericoAguirre La técnica de pomodoro es un concepto interesante a aplicar, sobre todo cuando se trabaja remoto o desde casa. Si te interesa, es una buena oportunidad para que crees una “práctica” en Open Practice Library. Sólo necesitas loggearte con GitHub https://openpracticelibrary.com/admin/#/collections/practice/entries/new

--

The Pomodoro Technique is an interesting concept to apply, es

[2020-08-13 21:04] #729 closed

[2020-08-13 22:53] lallmon commented on #153
Closing this as the How To section is in the new experience. 😎

[2020-08-13 22:53] #153 closed

[2020-08-13 22:56] lallmon commented on #121
Closing this as the search has been integrated into card filtering, and practice discovery is actively being worked on. :)

[2020-08-13 22:56] #121 closed

[2020-08-13 23:12] lallmon commented on #78
With the latest release, and in the spirit of encouraging contribution (as well as feedback on the contribution flow), we are asking that content be contributed through the CMS and not an issue as a request _for_ content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:12] #78 closed

[2020-08-13 23:14] lallmon commented on #77
Closing this out as Donal contributed the request, though any other related content is highly encouraged!

[2020-08-13 23:14] #77 closed

[2020-08-13 23:15] lallmon commented on #76
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:15] #76 closed

[2020-08-13 23:16] lallmon commented on #71
I'm going to close this one out as it seems more like a bit of older ideation. 😄

[2020-08-13 23:16] #71 closed

[2020-08-13 23:17] lallmon commented on #66
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:17] #66 closed

[2020-08-13 23:17] lallmon commented on #63
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:17] #63 closed

[2020-08-13 23:22] lallmon commented on #48
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:22] #48 closed

[2020-08-13 23:23] lallmon commented on #556
This is definitely on the Product Backlog for how we surface content to users in the right time and way, and these are good questions. Probably going to merge this with a roadmap item soon.

[2020-08-13 23:23] lallmon commented on #47
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:23] #47 closed

[2020-08-13 23:24] lallmon commented on #46
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:24] #46 closed

[2020-08-13 23:25] lallmon commented on #44
Absolutely agree with @mtakane here, and with the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:25] #44 closed

[2020-08-13 23:25] lallmon commented on #25
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:25] #25 closed

[2020-08-13 23:27] lallmon commented on #16
Closing this as it exists in the Library already. 🚀

[2020-08-13 23:27] #16 closed

[2020-08-13 23:28] lallmon commented on #59
Same as the contribution requests, the CMS is open to anyone and edits are always welcome. 🚀

[2020-08-13 23:28] #59 closed

[2020-08-13 23:28] lallmon commented on #13
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:28] #13 closed

[2020-08-13 23:34] lallmon commented on #159
I'm going to close this issue out, as both a Marketing Initiative as well as ideation on the UX of how to solve the problem of a "Toolbox" is on the general roadmap.

[2020-08-13 23:34] #159 closed

[2020-08-13 23:36] lallmon commented on #127
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:36] #127 closed

[2020-08-13 23:39] lallmon commented on #5
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-13 23:39] #5 closed

[2020-08-13 23:41] lallmon commented on #290
Closing this out as we are following Material-UI conventions for font sizing/spacing with the new release.

[2020-08-13 23:41] #290 closed

[2020-08-13 23:43] lallmon commented on #295
Closing this as we had a validated links section with iconography. ☑️

[2020-08-13 23:43] #295 closed

[2020-08-14 00:11] lallmon commented on #303
I'm going to close this, as this this is the #1 problem we are looking at and trying to solve on the current iteration(s).

[2020-08-14 00:11] #303 closed

[2020-08-14 00:12] lallmon commented on #313
Closing this, as I believe we have converted all practices to the new format.

[2020-08-14 00:12] #313 closed

[2020-08-14 00:12] lallmon commented on #318
Closing this as the homepage now shows all filters and filters on the page itself, without this bug.

[2020-08-14 00:12] #318 closed

[2020-08-14 00:13] lallmon commented on #327
Closing as this isn't in the current experience and the Later portion of roadmap includes related content.

[2020-08-14 00:13] #327 closed

[2020-08-14 00:14] lallmon commented on #345
Closing as irrelevant as participants have been removed on the current iteration.

[2020-08-14 00:14] #345 closed

[2020-08-14 00:15] lallmon commented on #349
Closing this as referenced the above PR.

[2020-08-14 00:15] #349 closed

[2020-08-14 00:16] lallmon commented on #365
Closing this as the new logo of the OPL is not the Mobius Loop directly, and the loop is a constant iteration. 👍

[2020-08-14 00:16] #365 closed

[2020-08-14 00:17] lallmon commented on #431
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:17] #431 closed

[2020-08-14 00:20] lallmon commented on #458
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:20] #458 closed

[2020-08-14 00:21] lallmon commented on #464
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:22] lallmon commented on #500
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:22] #500 closed

[2020-08-14 00:24] lallmon commented on #521
Closing this as the Perspectives is still under value review and we have moved to Material-UI as the component library.

[2020-08-14 00:24] #521 closed

[2020-08-14 00:24] lallmon commented on #525
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:24] #525 closed

[2020-08-14 00:26] lallmon commented on #526
Closing this as contextually teaching the Mobius Loop with the application has become a focus and garnered some of the better feedback and is definitely on the roadmap for continuous improvement.

[2020-08-14 00:26] #526 closed

[2020-08-14 00:28] lallmon commented on #555
Closing as Footnotes no longer exist.

[2020-08-14 00:28] #555 closed

[2020-08-14 00:30] lallmon commented on #564
Closing this as we moved away from Hugo for static generation.

[2020-08-14 00:30] #564 closed

[2020-08-14 00:30] lallmon commented on #566
Keeping in to verify fixes.

[2020-08-14 00:31] lallmon commented on #573
Added this to the icebox, as not only should assets be available, I am not so keen on them being locked in Adobe Binaries, when Inkscape exist and is pretty fantastic overall.

[2020-08-14 00:32] lallmon commented on #592
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:32] #592 closed

[2020-08-14 00:33] lallmon commented on #597
Closing this as there is a big Marketing initiative in the current Backlog, and is definitely an important...feature?

[2020-08-14 00:33] #597 closed

[2020-08-14 00:34] lallmon commented on #598
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:34] #598 closed

[2020-08-14 00:35] lallmon commented on #600
I am going to close this, but it is a top priority for the team and is being constantly looked at and worked on. Appreciate the feedback and I think we are all in total agreement. 😄

[2020-08-14 00:35] #600 closed

[2020-08-14 00:37] lallmon commented on #730
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

 https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:37] #730 closed

[2020-08-14 00:39] lallmon commented on #756
Closing this as this feedback is glorious and something we are actively working on improving, it's on the roadmap and subject to revisions.

[2020-08-14 00:39] #756 closed

[2020-08-14 00:40] lallmon commented on #781
Closing this as it has been fixed in the current iteration. 👍

https://openpracticelibrary.com/tags/foundation

[2020-08-14 00:40] #781 closed

[2020-08-14 00:41] lallmon commented on #786
Closing as we have this on the roadmap and is one of the things we tested with the POC "V3", will most likely end up as a filter, but still validating the UX.

[2020-08-14 00:41] #786 closed

[2020-08-14 00:45] lallmon commented on #886
This is a good discussion about what goes into the content, how we handle related content.

[2020-08-14 00:46] lallmon commented on #943
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:46] #943 closed

[2020-08-14 00:46] lallmon commented on #1039
With the latest release, and in the spirit of encouraging contribution/collaboration, we are asking that content requests be contributed through the CMS and not an issue as a request for content. 😎

https://openpracticelibrary.com/page/contribution-guide

[2020-08-14 00:46] #1039 closed

[2020-08-14 00:48] lallmon commented on #915
Closing this for now, but if there needs to be more discussion on it, feel free to reopen. :D

[2020-08-14 00:48] #915 closed

[2020-08-17 07:50] rhdojun commented on #756
Alright, thanks for letting me know, @lallmon .

[2020-08-17 15:02] heyjerrybecker opened #1212 "Create icons for mobius loop sections"
As Nova, I want to see icons associated with the various mobius loop sections to help me remember them better and give me a non-color visual identifier for where practices rest on the mobius loop in case I have trouble seeing certain colors.

To do:
- Find separate icons for each section of mobius loop
- Update mobius loop gaphics throughout site to include icons
- Overlay appropriate icon or icon

[2020-08-17 17:06] tenfourty opened #1204 "New skin doesn’t look good on mobile browser"
Hi All,

Great work on the new skin, really great progress!

Unfortunately the hamburger menu looks pretty bad and squashes the whole page in Safari/Firefox on iOS.

See attached screenshot.

![00FF9CF0-F64B-499C-9B80-337167781DF9](https://user-images.githubusercontent.com/458641/90423351-936ba400-e0bc-11ea-9275-c42fb3cc507f.png)

[2020-08-17 18:00] omcneil opened #1213 "Bug: Agile Health State Practice - When Practice has 3 tags, one of the hashtags flicker"

[2020-08-17 18:11] omcneil opened #1205 "Integrate Other oAuth platforms to create OPL accounts (google, facebook, etc.)"

[2020-08-17 19:07] lallmon opened #1206 "Fix 2 typos in "Options" explainer text for mobius loop"
Current reads:
- "What are the teams possibilities?"
- "What might you need to realize the outcomes you've discoverd?"

The fix:
- Need apostrophe in "teams" to make it possessive
- "...discoverd" needs to be spelled "...discovered"

[2020-08-17 19:07] lallmon opened #1207 "Fix wording on "delivery" explainer text for mobius loop"
Current:
"...What was measured impact?"

Should be:
"...What was the measured impact?"

[2020-08-17 19:11] lallmon opened #1208 "Mobile Rendering - Practice Page"
As Nova, I want to be able to see the OPL content on my phone, so I can quickly reference practices.

Given a mobile device,
when I visit a practice page,
The the content is readable and not obscured, the fonts are proportional and the UI is navigable.

[2020-08-17 19:16] lallmon commented on #1204
Going to close this out, as a basic pass for mobile rendering is underway, starting with #1209

Thanks for your reporting of this! 😎

[2020-08-17 19:16] #1204 closed

[2020-08-17 19:17] lallmon commented on #1049
Closing for now, looking forward to the contribution! 🧺

[2020-08-17 19:17] #1049 closed

[2020-08-17 19:51] #508 closed

[2020-08-18 07:10] tenfourty commented on #1204
great to see you folks were already aware of this and working on a fix.

[2020-08-18 15:37] lallmon commented on #1204
@tenfourty And thanks for your quick response to it, don't let that stop you from filing any other issues you come across. 😎

[2020-08-18 16:25] shaheinm opened #1216 "Like functionality with Netlify"
## For the `next` implementation (V2)

As Nova, I need to be able to like a practice, so that I can signal it's usefulness to the community.

**_ACCEPTANCE CRITERIA_*
**Given** I have found a practice useful or helpful
**When** I select the LIKE button on the practice page
**Then** The practice should be liked.

**_NOTES_**
This involves dynamically updated content, and will likely need to be crea

[2020-08-18 16:26] shaheinm opened #1218 "Cypress Testing with Netlify Build Plugin"
## For the `next` implementation (V2)

As a system, I need to have e2e test coverage, so that I can ensure correct user flows prior to deployment.

**_NOTES_**

- https://www.cypress.io/blog/2020/03/30/run-cypress-tests-on-netlify-using-a-single-line/
- https://github.com/cypress-io/netlify-plugin-cypress
- https://github.com/cypress-io/netlify-plugin-cypress-example

[2020-08-18 16:36] DarcieF opened #1222 "Implement Unmoderated User Testing for A/B Testing"
As a Developer, I need to learn more information about implementing the unmonitored user testing into the system so that I know how much effort this will require.

**ACCEPTANCE CRITERIA**
**Given** 
**When** 
**Then** 

**Notes**

**Blockers**

[2020-08-18 16:43] lallmon commented on #557
Closing this as we have a whole Epic around Editorial Workflow!

[2020-08-18 16:43] #557 closed

[2020-08-18 16:46] lallmon commented on #105
Closing this as the current experience makes a lot of the contribution more consistent, and we will be working on that as well.

[2020-08-18 16:46] #105 closed

[2020-08-18 16:48] lallmon commented on #275
Closing as duplicate as these considerations are great, and being integrated in the next iteration via #1215

[2020-08-18 16:48] #275 closed

[2020-08-18 16:51] lallmon commented on #363
@shaheinm Is this still relevant with the email stuff you have been working on?

[2020-08-18 16:54] lallmon commented on #728
@heyjerrybecker Is this still relevant when it comes to contributing? It's called out in the menu and no longer shows up in search.

[2020-08-18 18:19] eranderson921 commented on #728
@lallmon @heyjerrybecker I really really like the new layout and IMHO this issue is not longer relevant because the menu is now very prevalent, plus once you are in the menu 'Contributing' is right there in front of you.

[2020-08-18 19:39] lallmon commented on #621
Closing this as the functionality is removed and revamped on a further roadmap.

[2020-08-18 19:39] #621 closed

[2020-08-18 19:41] lallmon commented on #735
Closing this as we have implemented a first draft on https://openpracticelibrary.com/about/

Other feedback always welcome!

[2020-08-18 19:41] #735 closed

[2020-08-18 19:43] lallmon commented on #158
Going to close this as it's always ongoing, but looking towards automation of user feedback, would love people's ideas and thoughts on tooling/strategy here: https://github.com/openpracticelibrary/opl-docs/issues/57

[2020-08-18 19:43] #158 closed

[2020-08-18 19:47] lallmon commented on #879
Closing this as there is a first pass of a dynamic 404, but that is a page that can always be improved, but hopefully we have a good base.

[2020-08-18 19:47] #879 closed

[2020-08-18 19:49] lallmon commented on #886
Closing, as multimedia is something we are looking to solve overall, but these could be added to "Links We Love" on those particular practices. :+1:

[2020-08-18 19:49] #886 closed

[2020-08-18 20:20] lallmon commented on #114
I'm going to close this out as we are asking for direct contribution when possible, the CMS is open. :sunglasses:

[2020-08-18 20:20] #114 closed

[2020-08-18 20:24] lallmon commented on #90
Closing this as it seems the consensus seems to be the one you came to about mindset and tooling as opposed to specific processes and ceremonies. :+1: :100:

[2020-08-18 20:24] #90 closed

[2020-08-18 20:27] lallmon commented on #182
Closing this as the Event Storming practice has been updated, but other contributions for expansion are welcome!!

[2020-08-18 20:27] #182 closed

[2020-08-18 20:36] lallmon commented on #262
Closing this as the analytics and user research show that the Gitter rooms are rarely used, and the user research shows that our primary persona (and even secondary) are turned off as Github is viewed as purely technical.

We have some Ask Me Anything level epics where we can figure out how might we engage and build our community, and I'll add @tenfourty 's comment about Discourse as a possible so

[2020-08-18 20:36] #262 closed

[2020-08-19 16:36] shaheinm opened #1225 "Social Share cards"
Add metadata content to React-Helmet components to provide more attractive content in share links.

[2020-08-19 17:08] #1225 closed

[2020-08-19 17:35] lallmon opened #1228 "Old Perspective pages are showing up in new experience."
For example: https://openpracticelibrary.com/perspective/domain-driven-design/

[2020-08-20 15:38] haithamshahin333 opened #1233 "Cypress E2E Testing"
Add cypress E2E testing so that all proposed changes are tested and status is displayed prior to merge

[2020-08-20 15:39] haithamshahin333 opened #1234 "In depth E2E test for practice page"
Test all functionality on practice page
* Author
* Tags
* Media gallery links
* Additional resources

[2020-08-20 18:30] #1206 closed

[2020-08-20 18:30] #1207 closed

[2020-08-20 19:03] #1215 closed

[2020-08-21 17:11] omcneil opened #1237 "Bug: Link did not open new tab"

[2020-08-21 18:24] #1237 closed, assigned to nobody

[2020-08-25 11:30] heyjerrybecker opened #1279 "Change out "perspectives" wording/content on all pages"
Change "perspectives" to "blog" anywhere on the site the old term is used.

- it's definitely on /page/editorial

[2020-08-25 19:38] shaheinm opened #1242 "Remove staging branch go-between weirdness"

[2020-08-25 19:38] #1228 closed

[2020-08-25 20:24] #1242 closed

[2020-08-26 00:50] pcarney8 commented on #1208
+1 to this. Renders like attached pictures and won't let me zoom out any further.

Embedded Chrome in Twitter on Android 10
![Screenshot_20200825-204701](https://user-images.githubusercontent.com/4354948/91242100-7cf4c680-e714-11ea-8a3d-a1045151fa57.png)

![Screenshot_20200825-204647](https://user-images.githubusercontent.com/4354948/91242060-66e70600-e714-11ea-8984-9b4053bf80fd.png)

![Screenshot

[2020-08-26 17:45] omcneil opened #1247 "Cypress Accessibility Testing"

[2020-08-26 17:48] omcneil opened #1248 "Page Load Optimization"
As Nova, I want my initial page load experience to be quick and clean, so that I can start accessing content as fast as possible.

Given I have not visited the site before,
or that my cache has expired,
When I load the home page or the filter pages,
the content loads as fast as possible.

Possible Solutions:
- Lazy Load Images
- Image placeholder loading
- Check Gatsby docs for performance increas

[2020-08-26 17:50] omcneil opened #1249 "Smart Link Component"

[2020-08-26 17:52] omcneil opened #1250 "Empty state on searching/filtering"

[2020-08-26 17:55] omcneil opened #1251 "Convert all non-raster images to SVG"

[2020-08-26 17:57] omcneil opened #1252 "Remove Feedback Component Completely - Only Use Feedback Link in Menu"

[2020-08-26 19:01] lallmon opened #1253 "Drawer component is pushing content, causing mobile rendering to be off."

[2020-08-27 13:59] omcneil commented on #550
No Longer Needed

[2020-08-27 13:59] #550 closed

[2020-08-27 14:21] omcneil commented on #509
No Longer Needed

[2020-08-27 14:21] #509 closed

[2020-08-27 15:40] lallmon opened #1255 "Terms in Footer doesn't open in new page"

[2020-08-27 16:52] omcneil commented on #566
No Longer Needed

[2020-08-27 16:52] #566 closed

[2020-08-27 16:53] omcneil commented on #742
No Longer Needed

[2020-08-27 16:53] #742 closed

[2020-08-27 16:53] omcneil commented on #1219
No Longer Needed

[2020-08-27 16:53] #1219 closed

[2020-08-27 16:53] omcneil commented on #875
No Longer Needed

[2020-08-27 16:53] #875 closed

[2020-08-27 16:54] #1213 closed

[2020-08-27 16:58] shaheinm opened #1256 "Mobile Rendering Pass - Framer Motion / Overlaying Drawer component"

[2020-08-28 16:57] heyjerrybecker opened #1259 "Spelling error on LP"
Landing Page has a spelling error in the 2nd paragraph. "alot" should be "a lot"

[2020-08-28 17:21] #1252 closed

[2020-08-31 22:12] #1208 closed

[2020-08-31 22:12] #1209 closed

[2020-09-03 15:54] lallmon opened #1262 "Mobile Rendering: Footer"

[2020-09-03 15:54] lallmon opened #1263 "Mobile Rendering: Partnerships"

[2020-09-03 16:45] #1220 closed

[2020-09-03 16:47] lallmon opened #1264 "Standardize hashtags design."
Currently different on Home Page vs Practice Page

[2020-09-04 17:30] omcneil opened #1267 "Netlify possibilities"

[2020-09-08 17:17] heyjerrybecker opened #1278 "OPL Card Deck Redesign"
The OPL Card deck needs redesigned to match the new branding experience of OPL. Working with marketing to accomplish this.

[Current OPL Card Deck repo](https://github.com/openpracticelibrary/carddecks)

[2020-09-08 17:50] omcneil opened #1268 "CC Attribution for the Mobius Loop"

[2020-09-09 20:02] lallmon opened #1271 "Max Width on Learn Page off"

[2020-09-10 16:40] #1234 closed

[2020-09-11 17:28] #1248 closed

[2020-09-11 17:44] omcneil commented on #19
Closing this ticket as stale, a new issue can be created if needed

[2020-09-11 17:44] #19 closed

[2020-09-11 18:07] lallmon commented on #251
Closing this issue as stale.

[2020-09-11 18:07] #251 closed

[2020-09-11 18:08] lallmon commented on #451
Closing this issue as we have improved a lot of images, and also are actively doing so. :v:

[2020-09-11 18:08] #451 closed

[2020-09-11 18:10] lallmon commented on #30
Closing this as fixed with the implementation of React Helmet

[2020-09-11 18:10] #30 closed

[2020-09-11 18:11] lallmon commented on #449
Great conversation, but closing this as stale and a request for contribution. :v:

[2020-09-11 18:11] #449 closed

[2020-09-11 18:11] lallmon commented on #447
Closing this as we have reviewed these URLs and another set of decks is being produced.

[2020-09-11 18:11] #447 closed

[2020-09-11 18:13] lallmon commented on #375
Closing this as stale, but also as a call to action. If there are ones that could be dropped or changed, propose them. :smile_cat:

[2020-09-11 18:13] #375 closed

[2020-09-11 18:14] lallmon commented on #373
Closing as we now have a "Links we Love" section for additional resources.

[2020-09-11 18:14] #373 closed

[2020-09-11 18:14] lallmon commented on #294
Closing this as stale, as login and contributor flow will be the next round of focus.

[2020-09-11 18:14] #294 closed

[2020-09-11 18:15] lallmon commented on #103
Closing this as it is handled in the additional resources area

[2020-09-11 18:15] #103 closed

[2020-09-14 19:18] #1277 closed

[2020-09-14 20:40] heyjerrybecker opened #1285 "Lean Inception practice not showing authors."
[Lean Inception](https://openpracticelibrary.com/practice/lean-inception/) is not showing the authors, even though their git names are in netlify. Need to fix this.

[2020-09-14 20:51] heyjerrybecker commented on #1285
Updated the ticket so it's not a bug (it's "community"), added paulo as an author in netlify and updated fabio's git un in the netlify writeup by removing "me"

[2020-09-15 06:54] rmarting opened #1288 "What Is Title typo in practice pages"
Practice Pages has a typo in the title **What Is ...?**, it appears as **WhatIs ...?**.

It seems that this issue appears since today, after applyed a new design.

The issue is located in the PageBody component for practice pages in the line [L28](https://github.com/openpracticelibrary/openpracticelibrary/blob/master/src/components/practicePage/PageBody/index.js#L28).

[2020-09-15 07:14] rmarting commented on #1288
Provided [PR](https://github.com/openpracticelibrary/openpracticelibrary/pull/1289) with the fix to this issue.

[2020-09-15 15:49] rmarting opened #1293 "(Bug) Incorrect practice name using "Add a Practice" in OPL site"
If you create a new practice using the `Add a Practice ` link it is not working as expected.

The new practice is created however instead of use the original name declared in the form, use the generic value "new" as default name for the practice file (located in src/pages/practice folder)

This bug I found after created a new practice called "kanban". The branch created and the files created are l

[2020-09-15 19:27] #1268 closed

[2020-09-15 19:47] lallmon opened #1294 "When a Practice Page is missing a section, the page navigation bar does nothing."
To replicate, go to: https://openpracticelibrary.com/practice/6-dimensions-of-discovery/

And click on "Links" in the page nav bar. The page does not scroll down, as there is no Links section.

Possible solution is that if there is a section missing? Don't display it on the page nav?

[2020-09-15 20:52] lallmon opened #1295 "Mobile: menu Floating Action Button obscured by Practice Card Images"

[2020-09-16 14:49] shaheinm commented on #1256
Closing --

Framer Motion can still serve a purpose for us in things like page transitions and micro-transactions, but speaking with the team, the drawer isn't something we feel we should spend any more time on specifically.

[2020-09-16 14:49] #1256 closed

[2020-09-17 19:02] haithamshahin333 opened #1299 "Bug: Fix Breaking Builds in Netlify due to Gatsby Cache"
gatsby cache causing PRs to fail with deploy preview

[2020-09-17 19:03] #1299 closed

[2020-09-17 20:25] heyjerrybecker opened #1302 "Create 5 Elements of Digital Transformation Blog Post"
[Leadership Directive]

As a senior stakeholder at Red Hat, I want a way to tie the Red Hat 5 Elements of Digital Transformation to OPL and align practices to each element.

To Do:
- Get blog post from Mike with practices aligned to elements
- Clean up and submit blog post to OPL

[2020-09-17 20:31] heyjerrybecker opened #1303 "Adjust Layout of Hero Area of Home Page"
Adjust Hero area of Home Page to include:
- OPL Logo when nav tray is closed
- Smaller Mobius loop
- Loop descriptor text to the right of mobius loop
- Any other awesomeness Lucas comes up with 😃

[2020-09-17 20:33] heyjerrybecker opened #1304 "Re-imagine /learn page"
Modify the /learn page to align with our understanding of first-time users and industry standards in modern web design

[2020-09-17 20:34] heyjerrybecker opened #1305 ""Add a Practice" in nav tray doesn't open new tab"
Make it so clicking any link that takes users outside OPL opens in a new tab

[2020-09-18 13:15] heyjerrybecker opened #1307 "Change "three" to "four" on /learn page"
on the /learn page, the paragraph under "Our Process Model," the word "three" needs to change to "four" to refer to the 4 parts o the mobius loop.

[2020-09-18 13:19] heyjerrybecker opened #1308 "Change title of "Ask us Anything" in practice pages"
Ask us Anything doesn't convey the right sentiment we want users to feel. We want them to feel they can discuss with a community of users, not just site admins.
To reflect this, we should update the section title of of AMA to something more appropriate.
FWIW - the sticky nav refers to it as "Discuss"

[2020-09-18 17:03] heyjerrybecker opened #1310 "Re-create MBPM Practice"
Re-create Matt Takane and Prakriti Verma's MBPM practice that got lost in our branch edits.

[PR here](https://github.com/openpracticelibrary/openpracticelibrary/pull/1309)

[2020-09-18 17:04] heyjerrybecker opened #1311 "Re-create VSM Practice"
Re-create Matt Takane and Prakriti Verma's VSM practice that got lost in our branch edits.

[2020-09-21 18:05] haithamshahin333 opened #1314 "Bug: Build timeouts for deploy previews and associated E2E failures"
Deploy previews can take longer than 15 minutes if a few are queued up at the same time. Need to make the wait timeout longer.

[2020-09-21 19:21] #1314 closed

[2020-09-22 07:38] rmarting commented on #1288
I close this issue as the PR was merged and now the title is fine in the practice pages.

[2020-09-22 07:38] #1288 closed

[2020-09-22 18:02] mwalker5000 opened #1316 "Provide a way to navigate practices by digital transformation competency (5e)"
**From a business perspective:**
We have an engine underway at Red Hat that is generating content around the five elements of successful digital transformation, e.g. [here](https://www.redhat.com/en/resources/5-elements-successful-digital-transformation) (enterprise-based content), or [here](https://enterprisersproject.com/article/2020/6/5-categories-transformation-failure) (community-based conten

[2020-09-23 14:26] #1259 closed

[2020-09-23 17:06] #1212 closed

[2020-09-23 17:06] #1264 closed

[2020-09-23 17:06] #1303 closed

[2020-09-23 21:43] #1255 closed

[2020-09-23 21:43] lallmon commented on #1255
Fixed with #1262

[2020-09-23 21:46] lallmon commented on #1295
This got fixed in #1306

[2020-09-23 21:46] #1295 closed

[2020-09-24 10:29] acammies opened #1319 "404 link on Contribution guide page"
on page https://openpracticelibrary.com/page/contribution-guide the DEVELOPING.MD links to
"https://github.com/openpracticelibrary/openpracticelibrary/blob/staging/DEVELOPING.md" which 404s.

Should instead redirect to https://github.com/openpracticelibrary/openpracticelibrary/blob/master/DEVELOPING.md

Fixing now

[2020-09-24 11:57] acammies opened #1321 "Newer versions of Hugo fail to build site locally"
Attempting to `Hugo serve` using the latest version of hugo causes local build failures (both quick start and full build)

(future Aidan, insert error message here)

Rolling back to the same Hugo version used by netlify in the deployment stage (v0.51) solves this.

Steps to use earlier version:

- download source code tar from https://github.com/gohugoio/hugo/releases?after=v0.55.6 under assets
-

[2020-09-24 12:14] acammies commented on #1321
Error after running with Hugo 0.58:
[code]

From doing some light googling I think this deprecation was introduced in 0.55:
https://discourse.gohugo.io/t/pages-hugo-is-deprecated-as-of-0-55-0/17991

[2020-09-24 16:46] lallmon opened #1322 "Cards not taking you to practice page when clicking Chrome."
Version 85.0.4183.102 (Official Build) (64-bit)

[2020-09-24 17:08] haithamshahin333 opened #1323 "A/B Testing with Google Analytics"

[2020-09-24 20:35] lallmon opened #1324 "Card Deck Facilitation Metrics"
As Nova, I want to know basic time and difficulty of practices, so I can better plan out an Agile Agenda.

- Given an OPL Practice Card
- When I veiw the information on the card
- I can better evaluate if it fits into my Agenda

[2020-09-25 16:15] lallmon opened #1325 "Initial Site Load Time is 14 seconds"
Something in either the Netlify delpoy or the Gatsby build is causing big payloads.

- The Favicon is saying its 256kb
- Multiple javascript bundles equalling 300kb
- page-data.json file being transferred over the wire

[2020-09-25 16:15] lallmon opened #1326 "Bug: Can't open practices in a new tab. Unable to right-click and open in new tab in both Chrome and Firefox"

[2020-09-25 16:20] lallmon opened #1327 "Deck QR Codes with UTM tracking"
As Nova, I want to navigate to a practice via QR code, so that I can get more detailed information on facilitation.

Given a physical card and cell phone with QR capability
When I scan the QR Code
It takes me to the relevant practices

UTM code should be embedded in the QR code so we know how much traffic comes from the card decks

[2020-09-25 17:31] #1263 closed

[2020-09-25 17:31] #1311 closed

[2020-09-25 17:31] #1310 closed

[2020-09-25 17:31] #1285 closed

[2020-09-25 17:32] #1262 closed

[2020-09-25 17:32] #1271 closed

[2020-09-25 19:37] heyjerrybecker opened #1334 "Bug: Clicking "Add a New Link" in Netlify errors out the preview screen"
When a user updates a practice and clicks "Add a new link" in Netlify, the preview screen blanks out and shows the following error: (replicated on macOS/chrome)

![Screen Shot 2020-09-25 at 3 34 11 PM](https://user-images.githubusercontent.com/13509608/94308902-38dc2800-ff45-11ea-818f-8556b6076241.png)

[2020-09-28 17:20] heyjerrybecker opened #1338 "Nominate OPL for Giveback Ninja program"
Want to incentivize RH'ers to contribute to OPL by rewarding new practice writeups with giveback ninja points.

[Submission form details here](https://docs.google.com/document/d/1HJjZ0kLvBCCpspt9exqDT5Tn5UyU2sIbVU7KDCnkD1A/edit?usp=sharing)

[2020-09-29 08:20] jtudelag opened #1339 "Target Outcome broken external Link"
The old external link is broken: http://www.gabriellebenefield.com/mobius/how-to-measure-value/

And the redirection of that link is also broken: (https://mobiusloop.com/mobius/how-to-measure-value/)

It seems to be an old content, ~2014.

I am not sure, but this other old link in slideshare seems to point to the right slides:
https://www.slideshare.net/gbenefield/mobius-slideshare-how-to-measure-

[2020-09-30 16:12] lallmon opened #1342 "Card Deck - Target Outcome Blurbs"
As Nova, I want to know the target outcome of a practice, so that I can better plan facilitation.

[2020-10-01 00:20] trncb opened #1345 "Contributing link on README.md goes to 404 on openpracticelibrary.com"
Clicking on the *Contributing guide* link on the openpracticelibrary README goes to https://openpracticelibrary.com/contribution-guide/ which displays a 404.

This should go to https://openpracticelibrary.com/page/contribution-guide

[2020-10-01 00:22] trncb commented on #1345
I can fix this and will submit a PR.

[2020-10-01 06:40] kattekrab commented on #1339
Hey @jtudelag I used the original link to get the content from the way back machine and saved it to this google doc
https://docs.google.com/document/d/1cQNOy7YzoqFNTuvro-ZIuLDN92XrBDWhiVoJUcPgmqU/edit?usp=sharing

I think we should reach out to Gabrielle about whether she's interested in republishing it.

[2020-10-05 16:56] #1323 closed

[2020-10-05 16:56] #1325 closed

[2020-10-06 17:27] heyjerrybecker opened #1358 "Prototype 5e Integration"
As a Red Hat sales person, I want to be able to navigate the OPL practices by the 5 Elements of Digital Transformation to show how they can become actionable by leveraging OPL practices.

Steps:
1. Prototype some ideas and discuss as a team
2. Align on idea to test with users
3. Present idea to Mike Walker for feedback
4. Validate that jazz for real

[2020-10-07 17:42] #1326 closed

[2020-10-07 17:45] lallmon opened #1360 "Blog Posting: How we use OPL to build OPL"

[2020-10-07 17:50] lallmon opened #1361 "Architecture for the 5 elements"

[2020-10-07 17:50] lallmon opened #1362 "Reverse Engineer Organic Search Analytics"

[2020-10-08 17:05] lallmon opened #1363 "Add new Analytics tag"
https://analytics.google.com/analytics/web/?utm_campaign=2020-q3-gbl-all-gafree&utm_source=google-growth&utm_medium=email&utm_content=ogt-upgrade-tag-reminder#/a111461618w166249684p166716144/admin/tracking/tracking-code/

[2020-10-08 17:06] lallmon opened #1364 "Add TXT record to DNS for Google Webmaster/Search Console"
google-site-verification=dliEgaR0Ewf83a3M7pH6AE-KhbRiIfy1d4jqKuhme3g

[2020-11-05 20:44] #1345 closed

[2020-12-07 14:08] springdo opened #1395 "Button on Image Gallery over flows on to youtube controls"
Today i noticed a small issue on teh site when looking at the example mapping practice. I started to play the video on the `Gallery` and paused it. Once doing so, youtube's suggestions popped up. I tried to close them but I am unable to press the close on this tray as the button to move to the next image in the gallery takes precedence. I think you can see what I mean in this screen shot which hig

[2020-12-07 21:14] springdo opened #1396 "404 page link takes me no where and deletes the router history"
404 page on the site is broken - When I click the link to take me back or anything like that it brings me nowhere.

### steps to reproduce:

1. Go to the 404 page eg https://openpracticelibrary.com/practice/
![image](https://user-images.githubusercontent.com/6122439/101406254-1e251880-38d1-11eb-97d1-bae04671afbe.png)

2. click the link / button at the bottom to head on back. Bad stuff happens:
- C

[2021-01-18 20:55] timjackson opened #1405 "Practice search fails to find certain matches"
The search for practices by names fails, without obvious cause, to find certain valid matches.
At the time of writing, a search for "mapping" returns the following:

Affinity mapping, Empathy mapping, Example mapping, Impact mapping, Network Mapping, User Story Mapping & Value Slicing, Value Stream Mapping

but not

Metrics-Based Process Mapping

A search for "metrics" also fails to find the "Metr

[2021-01-19 16:16] shaheinm commented on #1396
@springdo this is happening if the first page you go to is a page that does not exist. For example, if you go https://openpracticelibrary.com and then add `/foo` to the url to get the 404, clicking on the "Head on Back" button will take you back to the home page. It's using `reach-router`, which has a function to navigate to the previous url in your browser history. You should (and I can, in my re

[2021-02-01 19:39] dkolepp opened #1412 "Walk the Walls as a Practice?"
"Walk the Walls" is mentioned in the Visualiation of Work practice, and also in the remote facilitation tips blog post.  But it's not clear if this is considered a practice or not (or if the "visualization of work" practice includes "walking the walls".

"Walk the Walls" is defined in the remote facilitation tips post (@Ilaria66 ), but no explanation of what this is.  If someone does a search in O

[2021-02-12 16:14] #1396 closed

[2021-02-19 13:14] msanecki opened #1423 "Broken link on sub-page practice/risk-issue-management/"
On the page: https://openpracticelibrary.com/practice/risk-issue-management/
the link to: _The Disciplined Agile (DA) Framework - Agile Risk Management_ is broken 404 Not Found
Call to the domain :https://www.disciplinedagiledelivery.com/ results also HTTP 404.

[2021-02-19 13:23] heyjerrybecker commented on #1423
Good catch @msanecki !
I went ahead and put in a PR to update the link. It'll be fixed at the next push.
Until then, here's the new link: https://disciplinedagileconsortium.org/resources/Whitepapers/DA-CMMI-Crosstalk-201607.pdf

[2021-02-19 13:23] #1423 closed

[2021-02-19 17:00] tylerauerbeck commented on #464
@lallmon After some recent chats with @heyjerrybecker , it seems like this would be an appropriate way to request content. Since I don't see a BDD exercise in OPL yet, can we go ahead and reopen this?

[2021-02-19 17:02] tylerauerbeck opened #1425 "Create practice for Service Level Indicators"
We are currently looking to add a number of SRE practices to OPL. To start with, it would be nice to see a practices that addresses what an SLI is, how that relates to SLO's and SLA's, and how you go about creating/defining these

[2021-02-19 17:03] tylerauerbeck opened #1426 "Create practice for Service Level Objectives"
We are currently looking to add a number of SRE practices to OPL. To start with, it would be nice to see a practice that addresses what an SLO is, how that relates to SLI's and SLA's, and how you go about creating/defining these.

[2021-02-19 17:04] tylerauerbeck opened #1427 "Create a practice for Service Level Agreements"
We are currently looking to add a number of SRE practices to OPL. To start with, it would be nice to see a practice that addresses what an SLA is, how that relates to SLO's and SLI's, and how you go about creating/defining these

[2021-02-19 17:08] tylerauerbeck opened #1428 "Create a template to use for practice requests"
It would be nice to have a template for requesting additional practices so that it is easy enough for interested folks to just pick up a practice and begin writing versus having to sift through a freeform request.

I think this is probably beneficial for a number of folks:

- those who want to request a practice : "hey, I'd like to see this thing -- but I don't have the time to contribute"
- maint

[2021-02-19 18:46] InfoSec812 opened #1429 "Architectural Decision Records (ADRs)"
Add a foundational practice for the use of Architectural Decision Records.

[MADR 2.1.2](https://adr.github.io/madr/) – The Markdown Architectural Decision Records

[Michael Nygard's template](http://thinkrelevance.com/blog/2011/11/15/documenting-architecture-decisions) – The first incarnation of the term "ADR"

[Sustainable Architectural Decisions](https://www.infoq.com/articles/sustainable-archi

[2021-02-19 19:18] heyjerrybecker commented on #1427
This kind of content might be better positioned as a blog post on OPL. It’s not really a “practice,” per say. But I definitely love the idea and think it belongs on the site!

Best,
Jerry Becker

[2021-02-19 19:19] heyjerrybecker commented on #464
I vote yes 👍

Best,
Jerry Becker

[2021-02-19 19:23] tylerauerbeck commented on #1427
Yeah. I'm not quite sure the best way to piece it together now. But maybe SLI and SLO are practices and then there's a blog about pulling them together to craft an SLA, maybe SLI/SLO/SLA are just a single practices, etc. Just more wanted to get the idea out we're looking to pull this type of content together.

[2021-02-19 19:31] lallmon commented on #464
I only have strong opinions weakly held. The problem if you look above, is we then have stale, multi-year old issues that no one has taken on.

The pattern I've noticed, is that the folks requesting content, typically have knowledge of the practice. So I'd encourage them to go all Gandhi on it (be the change you wish to see :D )

[2021-02-19 19:40] heyjerrybecker commented on #464
@Lucas. Yes, yes, yes.
We’re still seeing it - people putting ideas in hit and expecting other to create the content. Not saying that’s always the motivation, but it’s definitely happening to some degree. And I’m not crazy about it.

I want to encourage members to contribute their ideas themselves. That’s the only way this is really sustainable.

Best,
Jerry Becker

[2021-02-22 12:43] mtakane commented on #1427
Something to consider when seeing if there are practices for this or if it is more an application of thought, is if there is anything that is done to support or help enforce or even define what a team/organization's  SLI/SLO/SLA's are. How do they teams come up with these measures, how do teams monitor them, how do teams engage in responding to them.

This is possibly some form of existing practic

[2021-02-23 14:52] heyjerrybecker opened #1431 "Create "Links we Love" icon for templates"
With our increasing amount of practice template in Miro, it'd be great to have a category of "links we love" for templates.

[2021-02-23 14:52] heyjerrybecker opened #1432 "New "links we love" category for Templates"
With our increasing amount of practice template in Miro, it'd be great to have a category of "links we love" for templates.

[2021-03-05 13:45] tdbeattie opened #1437 "Which practices sit in the Foundation?"
The statement that Foundation is becoming a "catch-all" came up a couple of years ago and there's a good discussion in https://github.com/openpracticelibrary/openpracticelibrary/issues/289 and https://github.com/openpracticelibrary/openpracticelibrary/issues/376 which resulted in the Perspectives (now Blog) feature being created.

More recently, we've seen PRs suggesting other types of practices s

[2021-03-11 13:00] jtudelag opened #1440 "Create a Practice for Team Identity"
We even mention the practice in the [DO500 content](https://github.com/rht-labs/enablement-docs/blob/master/slides/markdown/team_identity.md),  but I haven't found it in the OPL.

It would be good to have it ;).

[2021-03-11 14:14] heyjerrybecker commented on #1440
Great idea, Jorge!

Since OPL is community owned and community driven, I’d encourage you to write the practice 😀😀

Best,
Jerry Becker

[2021-03-11 16:49] tdbeattie opened #1441 "Create a practice about Metrics-Driven Transformation"
Add a practice to the Measure & Learn portion of the Delivery Loop to explore the capture of software delivery metrics (Lead Time, Deployment Frequency, Mean Time to Restore and Change Failure rate) and how they should be interpreted

This could include a reference to [Pelorus](https://github.com/konveyor/pelorus)

[2021-03-16 04:05] kattekrab opened #1444 "Test Driven Development needs an image?! How about this?"
https://openpracticelibrary.com/practice/test-driven-development/

![test tube truck](https://user-images.githubusercontent.com/172755/111254350-f3cdbe80-8668-11eb-9d6c-1776805696ad.jpg)

From here: https://www.flickr.com/photos/cafuego/51041898047/in/datetaken/

[2021-03-16 05:02] kattekrab commented on #1444
Oh, I do see in netlify the original image is still in there, but it's not being used / displayed.  Was a decision made to no longer use that artwork? Or is it a techie glitch?

![final_test-driven-development](https://user-images.githubusercontent.com/172755/111258348-eb798180-8670-11eb-83b3-965b3e6c5249.png)

[2021-03-16 11:57] heyjerrybecker commented on #1444
Hey Donna!

During the redesign, we found in our user research that people preferred real images rather than iconography. So we tried to steer clear of using those icons as much as possible.

Best,
Jerry Becker

[2021-03-19 13:07] willowmck opened #1447 "Add a foundational practice for ROAM boards"
ROAM boards are an effective practice for categorizing risks and tracking risks throughout the lifetime of a program.  It's also a great practice for project kickoffs.  There's a great description of this approach at https://tcagley.wordpress.com/2014/10/18/agile-risk-management-the-need-still-exists/.

[2021-03-19 13:11] heyjerrybecker commented on #1447
Great idea @willowmck !
Are you planning on contributing this sometime soon?

[2021-03-19 15:32] willowmck commented on #1447
Yes, I hope to contribute this as soon as possible.

On Fri, Mar 19, 2021 at 9:11 AM Jerry Becker ***@***.***>
wrote:

[2021-03-19 15:34] heyjerrybecker commented on #1447
Awesome!!!!

Best,Jerry Becker

[image: twitter] <https://twitter.com/jerryjokesalot> [image: linkedin]
<https://www.linkedin.com/in/jerry-becker/> [image: instagram]
<https://www.instagram.com/jerryjokesalot/>
***@***.***
Lancaster, PA
[image: instagram]

On Fri, Mar 19, 2021 at 11:33 AM Will McKinley ***@***.***>
wrote:

[2021-03-22 09:41] tdbeattie commented on #1444
Yeah, those icons were only ever intended to be temporary and seen as better than the random stock image that OPL puts in if no image is supplied.

I like the your suggested image @kattekrab - it's definitely an improvement on the icon card!

[2021-03-24 11:20] kattekrab commented on #1447
Nice!  Can't wait to see your ROAM practice @willowmck

[2021-03-24 11:21] kattekrab commented on #1444
Righteo then!  I'll add it in.  Thanks @tdbeattie and @heyjerrybecker for the history and feedback!

[2021-03-24 11:34] heyjerrybecker commented on #1444
👯‍♀️

Best,
Jerry Becker

[2021-03-24 11:38] kattekrab commented on #1432
Yeah - good thinking. I agree!

[2021-03-24 11:39] kattekrab commented on #1444
Added, PR awaits review.
#1453

[2021-03-24 11:42] kattekrab commented on #1338
@heyjerrybecker - can we call this done?

[2021-03-24 18:32] willowmck commented on #1447
I stuck it in review but not sure this was what I was supposed to do?

On Wed, Mar 24, 2021 at 7:20 AM Donna Benjamin ***@***.***>
wrote:

[2021-03-25 08:26] kattekrab commented on #1447
Love it!  I just reviewed it and merged it in.

Thanks so much @willowmck
Let us know if you share it on social media so we can amplify and celebrate with you!

[2021-03-25 08:27] kattekrab commented on #1444
In the spirit of not merging our own work... can I ask @tdbeattie or @heyjerrybecker to review?

[2021-03-25 08:30] kattekrab commented on #1440
Yeah - would be good to have this in OPL for sure - I vaguely recall someone asking for advice on how to do this!

Any volunteers to write it up?

[2021-03-25 08:31] kattekrab commented on #1412
Hmmm good catch @dkolepp - would you be willing to write it up as a practice?  I agree it would be good to have in there for consistency.

[2021-03-25 08:33] kattekrab commented on #160
Is this still something we wanna do?  Or should we close this out?

[2021-03-25 08:34] kattekrab commented on #1339
Hey @tdbeattie - I vaguely recall you saying you were going to ping Gabrielle about republishing that post.  It's soooo good.  It would be great to reference it properly in the target outcome practice.

[2021-03-25 08:37] kattekrab commented on #609
With the redesign last year, is this still something we need to do @tdbeattie ?  I'm tempted to close this one, but am just a little hesitant.

[2021-03-25 13:29] willowmck commented on #1447
Thanks Donna!  Appreciate the help to get this published.

I posted on LinkedIn @
https://www.linkedin.com/feed/update/urn:li:activity:6780842813266399232/
on the twitters @ https://twitter.com/willowmck1/status/1375076384226357248

On Thu, Mar 25, 2021 at 4:26 AM Donna Benjamin ***@***.***>
wrote:

[2021-03-25 13:39] willowmck commented on #1447
Also, I just realized that I had not filled out my author info on CMS so I
just fixed that.

On Thu, Mar 25, 2021 at 9:29 AM Will McKinley ***@***.***> wrote:

[2021-03-25 14:52] jtudelag opened #1458 "Create a practice for Ice Breakers"
It would bee good to have it ;)

[2021-03-29 10:29] bridmacks opened #1459 "CMS - upload media assets - bug?"
Goal : add an image to a practice media gallery

Required : media link

Assumption : to obtain media link, image must be first be added to media assets in the CMS
_(note: assumption is formed on the basis of choosing a different image for the cover launching the images picker shown in the media assets popup/modal)_

Steps to upload image :

1. Select "Media" tab from navigation header
2. Select Up

[2021-03-29 12:05] jfilipcz opened #1460 "Create PostMortem Practice"
Create a practice describing PostMortem

[2021-03-29 12:06] jfilipcz opened #1461 "Create Wheel-of-Misfortune practice"
Write a blog post on how to perform Wheel-of-Misfortune excersise

[2021-03-29 14:43] heyjerrybecker opened #1463 "Create media upload capability in Netlify"
When improving or contributing a new practice using Netlify, there currently is no way for someone to upload a new media file in the "media" section of the post. There is only the option to submit a url link. If someone has a great picture on their phone or computer, they'd have to first go through the process of uploading it somewhere, then grabbing that url and adding it to to Netlify.
To improv

[2021-03-29 14:46] jfilipcz commented on #1461
I'll prepare that one

[2021-03-29 22:42] ckavili commented on #1425
/assign myself 😁

[2021-03-30 01:41] heyjerrybecker commented on #1425
@tylerauerbeck will these be practices? Or do they make more sense as blog posts on OPL?

[2021-03-30 18:10] heyjerrybecker opened #1464 "CTA button on "contributing" page"
At present, the link to Netlify to contribute to OPL is a hyperlink buried in multiple paragraphs of text. On the "contributing" page, the action we want users to take is to go to Netlify to contribute. So this action should be made very clear to users. A CTA button on this page would help make that step easier for community members.

[2021-04-01 08:55] kattekrab commented on #1437
I've been working with @dkolepp in recent weeks, preparing a talk about a new Red Hat training offering.

Along the way, I learned that Retro had been moved from Delivery to Foundation!

Retro is very much one of the core scrum ceremonies, and so is a key delivery practice.  I do understand that retro can be used during other phases too - which does indeed make this question a good one.

I've star

[2021-04-01 08:57] kattekrab opened #1466 "Add words and icon to practices to show which zone it sits in"
I've found myself getting confused about where a practice sits - the only indicator is the colour.

Could we/ should we add the tag as a word, and the icon to help show where a practice sits?

[2021-04-06 19:48] InfoSec812 commented on #1429
Submitted the new practice for review [HERE](https://openpracticelibrary.com/admin/#/collections/practice/entries/architectural-decision-records-adr)

[2021-04-07 11:43] kattekrab commented on #1464
Yeah - makes sense.  Is that something we can do easily?

[2021-04-07 11:46] kattekrab commented on #1447
I reckon we can call this issue "Resolved" ✅

See the new ROAM practice Live! https://openpracticelibrary.com/practice/roam-boards/

Nice work @willowmck  Thank you 🙏

[2021-04-07 11:46] #1447 closed

[2021-04-07 11:47] kattekrab commented on #1444
Thanks for the review & merge @tdbeattie 🙏

[2021-04-07 11:47] #1444 closed

[2021-04-07 11:49] heyjerrybecker commented on #1464
It should be easy - we already have the button style to pull in - just coloring and placing on the page.

But this kind of work usually doesn't get done unless we get a sprint together

[2021-04-07 11:57] kattekrab commented on #1395
Yep, still an issue.

![Screen Shot 2021-04-07 at 9 54 26 pm](https://user-images.githubusercontent.com/172755/113862743-2a23d700-97ec-11eb-81d5-8dc3acde8347.png)

[2021-04-11 00:11] kattekrab opened #1474 "Automate a tweet when a new practice is published"
I just discovered twitter.com/practicelibrary exists!

Could we / Should we set up a bot or action to automatically send out a tweet when a new practice is published?

[2021-04-11 00:18] kattekrab opened #1475 "Update twitter.com/practicelibrary profile to add link to openpracticelibrary.com"
Currently says "Discover & share best practices in product development" Adding link in the profile section should be easy for whoever has access to the account.  Action for me - Find out who that is! 😄 🚀

For posterity:
![image](https://user-images.githubusercontent.com/172755/114287994-004e0700-9aaf-11eb-84ef-0a9ba76a5b1e.png)

[2021-04-11 01:16] kattekrab commented on #1464
Interesting!! Do we need a sprint?
@Venus-Izadi is this something you could help us with?

[2021-04-22 13:43] heyjerrybecker opened #1491 "Create "Workshops" Section"
As a user, I want to find practices that work well together in succession that I can turn into a workshop to gain some quick wins.

[2021-04-23 14:05] msanecki commented on #1461
I appreciate it @jfilipcz. I am thinking about using this kind of gamefication approach for other areas. For me is like scenario thinking but with the fun/play extension. You probably know this tool:https://dastergon.gr/wheel-of-misfortune/.

[2021-04-23 14:13] msanecki opened #1493 "A "Hello, World!" or "Time to Hello World" event."
As I started at Red Hat in Sep 2020 in the middle of pandemic disaster I decided to do something to expand my network in the company. I just started inviting people calling the meeting "Hello World!", having  meetings again and again and after many of them I realized a regularity in the process. I decided to describe the process and that is what you have here. Maybe this could be helpful experienc

[2021-04-28 14:05] msanecki commented on #1493
Merged #1498 into master, thx!

[2021-05-04 22:49] kattekrab commented on #1491
I love this idea @heyjerrybecker!
@JemJem were you asking if there was something like this?  Perhaps with some inspiration from sessionlab too?

[2021-05-04 22:55] kattekrab opened #1506 "Like List Heart Favourite Bookmark?"
Someone asked me...

And I thought I'd seen an issue or comment on that somewhere. Either I imagined it, or my jedi search power has failed me.

As an open practitioner,
I want to save my faves somewhere in the open practice library,
so that I can find them easily, and share them with others.

[2021-05-05 01:04] heyjerrybecker commented on #1506
Yep! We want this feature!
The problem is it's predicated upon having user profiles. And that feature requires us to have our own cluster we can host on...which we don't have yet 😔

But seriously, there's so much ideate functionality that needs user profiles. We can do so much more with OPL if we could unlock that.

[2021-05-05 01:05] heyjerrybecker commented on #1491
It’s in the backlog! And something I’ve wanted to prioritize! Let’s do it!

Best,
Jerry Becker

[2021-05-07 00:56] kattekrab opened #1510 "Can't find metrics based process mapping practice"
This exists: https://openpracticelibrary.com/practice/metrics-based-process-mapping/

But the filter can't find it...  looking for "met" "map" "pro" or even the whole string does not return the practice - so it's like it doesn't exist.

Is this a bug?

[2021-05-14 16:11] eranderson921 commented on #1510
It sure looks like a bug because if you filter on 'DISCOVERY' the MBPM practice is listed.  It just isn't in the list of 'ALL' (practices).

[2021-05-19 11:23] kattekrab commented on #1319
This would appear to be fixed.

[2021-05-19 11:23] #1319 closed

[2021-05-19 11:27] kattekrab commented on #1395
There is a work around.  You can press play again to make youtube's suggestions go away.

[2021-05-19 11:30] kattekrab commented on #1429
Done!

[2021-05-19 11:30] #1429 closed

[2021-05-19 11:33] kattekrab commented on #1510
This has been reported before
 #1405

[2021-05-19 23:38] kattekrab commented on #1493
sweet! Thanks @msanecki :) and Thanks for the contribution!

[2021-05-19 23:38] #1493 closed

[2021-05-19 23:47] kattekrab commented on #1458
@jtudelag I agree! Why don't you have a go at drafting it?

[2021-05-19 23:48] kattekrab commented on #1461
@jfilipcz and @msanecki - how are you going with this?  Are you going to contribute a blog post or practice?

[2021-05-19 23:59] kattekrab commented on #1425
This one's done!
https://openpracticelibrary.com/practice/service-level-indicators/
#1486 was merged 17 Apr 2021

[2021-05-19 23:59] #1425 closed

[2021-05-20 15:56] eranderson921 commented on #1510
The exact same problem exists for practice "Measuring Psychological Safety".  I checked all the other practices and they appear in the list of 'ALL' practices.

[2021-05-20 18:15] shaheinm commented on #1510
This is happening because the `templateKey: practice-page` is missing from the practice markdown - this is **required** for the Gatsby to do its GraphQL query magic.

Haitham added it to the MBPM practice way back in October, but it was removed by a different commit (likely someone had an older version of OPL and ignored the merge conflicts) later that added a different practice.

[2021-05-20 20:18] #1405 closed

[2021-05-20 20:18] #1510 closed

[2021-05-20 21:09] eranderson921 opened #1534 ""Expand and Contract Pattern" Practice is not visible"
The templateKey and mobiusTag are missing from the md file which explains why the practice isn't displaying.  However, simply adding them back causes problems with displaying the images and ends up breaking OPL.  A recent merge is likely at the root of the problem.  The practice can be found directly via: https://openpracticelibrary.com/practice/expand-and-contract-pattern/

[2021-05-22 23:08] kattekrab commented on #1474
Progress! @cafuego has made us a twitter bot that tweets a random practice - now need to hook it up somehow.

[2021-06-04 13:32] heyjerrybecker opened #1544 "Change Netlify field from "subtitle" to "Target Outcome""
As Nova, I want to find OPL practices that fit my current situation as quickly as possible. It would be helpful to read the title of the practice then immediately what the practice achieves for me as a facilitator -that way I can quickly judge whether or not it's the right fit for my situation and therefore worth reading in more detail.

[2021-06-05 00:31] kattekrab commented on #1475
And done! Thanks @heyjerrybecker :)

![image](https://user-images.githubusercontent.com/172755/120874236-27294500-c5e9-11eb-859a-41a1a555ae40.png)

[2021-06-05 00:31] #1475 closed

[2021-06-05 00:38] kattekrab commented on #1544
Makes sense.

What do we need to do to make that change?

[2021-06-23 10:07] juliaaano commented on #1464
Thanks, @kattekrab! PR #1555 created.

[2021-06-23 23:36] kattekrab commented on #1464
Wow!!  Amazing!
Thank you @juliaaano. That looks great.

Now I'm wondering what the CTA button text should say, and where best to place it on the page.

- Start now
- Contribute now
- Log in now

I was able to see the preview here:
https://deploy-preview-1555--openpracticelibrary.netlify.app/page/contribution-guide/

Here's a screenshot
![Screen Shot 2021-06-24 at 9 13 24 am](https://user-images.g

[2021-06-23 23:37] kattekrab commented on #1464
Just playing around in the browser...
How about Start Now, with the button at the bottom?

Like this:

![Screen Shot 2021-06-24 at 9 31 48 am](https://user-images.githubusercontent.com/172755/123181032-d31acd80-d4cf-11eb-95e1-ef1398a3fc07.png)

[2021-06-24 01:02] juliaaano commented on #1464
If the button is placed after or before the text it will be easier to implement. If it's in between as suggested, I will need to put more effort since It requires overlapping with the content written in Markdown.
Regarding the label text, I'm happy with whatever you say. I was hoping @heyjerrybecker would give some input since he reported the issue in the first place.

[2021-06-24 01:23] juliaaano commented on #1544
@heyjerrybecker does this require adding a new field called targetOutcome and the related content value in every practice of the library?

[2021-06-24 01:46] heyjerrybecker commented on #1464
Nice work @juliaaano 👏👏👏

I like the "start now" copy on the button.
I also like it at the very bottom after all the text - that's when people are most likely to want to click it.

[2021-06-24 01:52] kattekrab commented on #1464
Ok cool!

Let's stick with Start Now - and put the button at the very end to keep it simple!

Thanks @heyjerrybecker and @juliaaano - this is great!

[2021-06-24 01:54] heyjerrybecker commented on #1544
I think just changing the Netlify field from "subtitle" to "objective" would suffice.
I wrote "target outcome" in the story, but I realize not everyone is going to know what that means.
"Objective" seems more easily understood - do you agree?

[2021-06-24 03:29] juliaaano commented on #1464
Done. Please review and merge the PR.
Cheers!

[2021-06-24 03:29] kattekrab commented on #1464
Sweet.  Looks great @juliaaano
Thank you!
I'll take a quick look at the code now too.

![Screen Shot 2021-06-24 at 1 27 43 pm](https://user-images.githubusercontent.com/172755/123198200-066d5480-d4f0-11eb-938f-90dae5db3a6c.png)

[2021-06-24 03:34] kattekrab commented on #1464
Looks good! Tests pass! Code is clean.
Let's do this.

[2021-06-24 03:36] #1464 closed

[2021-06-24 04:06] juliaaano commented on #1544
I agree. Is the label change in Netlify all you wanted? Like in the screenshot below?

<img width="934" alt="Screen Shot 2021-06-24 at 2 01 04 pm" src="https://user-images.githubusercontent.com/1110178/123201084-5b5f9980-d4f5-11eb-9902-08691bf164d5.png">

[2021-06-24 04:06] juliaaano commented on #1544
@heyjerrybecker if so, PR is ready to be reviewed at #1556

[2021-06-24 09:50] kattekrab commented on #1534
Thanks @juliaaano
Looks like that does the trick!

![image](https://user-images.githubusercontent.com/172755/123242468-66322280-d525-11eb-94df-fead2bf27705.png)

[2021-06-24 09:51] #1534 closed

[2021-06-24 09:56] kattekrab commented on #1544
Works for me.  Thanks @heyjerrybecker and @juliaaano!

[2021-06-24 09:59] #1544 closed

[2021-06-24 10:02] kattekrab commented on #1305
I dunno about this, it breaks the web.

I think it would be ok to have "Add a practice" open in a new tab - bit not every outside link.

What do others think?

[2021-06-24 10:21] kattekrab commented on #1506
Right - hmmm, yes, that reminds me, I need to go chase our sponsors to see what's happening about that cluster.

[2021-06-24 10:23] kattekrab commented on #1474
hey @juliaaano do you think you could you work with @cafuego to get this working?

[2021-06-29 09:14] msanecki commented on #1461
I would like to prepare a practice... I contacted the author of this nice toy: https://dastergon.gr/wheel-of-misfortune and will try to involve him for the first draft...

[2021-06-30 00:55] juliaaano commented on #1474
Thanks, @kattekrab.

Looking at the code in #1538, a number of questions come up:

1. Who and how will the bot get triggered?
2. Is the bot randomly selecting a practice to tweet instead of the latest practice published?
3. Where this bot can be hosted?
4. Where will the twitter secrets be stored?
5. Do we want to be able to change the tweet template without redeploying from the source code?

I'm

[2021-06-30 00:57] juliaaano commented on #1474
As I mentioned, meanwhile I'm looking for alternate solutions, such as using purely GitHub Actions to post the tweet. Stay tuned!

[2021-06-30 00:59] cafuego commented on #1474
That is up to you :-)

Currently, yes. But it should be not *too* hard to modify it to take a practice as parameter.

It should, in theory, be able to run as a GitHub Action or in some other CI/CD tool, provided you can manage secrets in that.

Up to you :-)

[2021-06-30 01:31] juliaaano commented on #1044
Building an automated translation capability would be a waste since a user can rely on the browser and/or google translate for that.
However, if a proper translation is required, it's a different story. The issue should be around multi lingual support/capability. Probably changes in Netlify that allows the translations be driven by the community.
@kattekrab I suggest closing this issue and creatin

[2021-06-30 01:34] juliaaano commented on #806
Closing this issue since I couldn't find a reference to Impact Mapping anymore in reported link.

[2021-06-30 01:34] #806 closed

[2021-06-30 01:50] juliaaano commented on #363
@kattekrab this issue is resolved by #358.

[2021-06-30 01:50] #363 closed

[2021-06-30 01:53] juliaaano commented on #1338
@kattekrab this must have been done since I was able to make my submittion using: https://app.smartsheet.com/b/form/96dfe9d3cb8342eb9b86bdfaa782c801

[2021-06-30 01:53] #1338 closed

[2021-06-30 02:10] juliaaano commented on #1293
Found a related bug in the attempt to reproduce this one. After clicking "Add a Practice", the page of an existing practice opens up for editing.

<img width="1907" alt="Screen Shot 2021-06-30 at 12 05 09 pm" src="https://user-images.githubusercontent.com/1110178/123891191-e4fee380-d99b-11eb-9ae1-1cd454659470.png">

Coincidence or not, "Measuring Psychological Safety" is the first practice in the

[2021-06-30 02:25] juliaaano commented on #1432
Is this related to the OPL website or something else in Miro?

[2021-06-30 02:26] juliaaano commented on #1432
This also relates, if not duplicates, this one: #1431.

[2021-06-30 03:36] juliaaano commented on #1334
Issue fixed by #1565.
Please review and merge @ https://deploy-preview-1565--openpracticelibrary.netlify.app
@kattekrab @heyjerrybecker

[2021-06-30 10:35] juliaaano commented on #1474
As promised I'm coming back after some research and the result is that I pushed PR #1566 which hopefully, after peer review, will have solved completely the issue.

The other solution proposed used GitHub Actions only.

@kattekrab please take a look and then let me guide you how to do the final set up to get this working.

[2021-07-01 04:36] juliaaano commented on #1334
Found another issue with this, please hold for a while.

[2021-07-01 05:27] juliaaano commented on #1334
While testing the fix for this issue, I found another issue that is not really related at the codebase level.

When adding an invalid link URL value either in "LINKS WE LOVE" or "MEDIA GALLERY", the system is not able to validate the URL, so ti fails badly.

<img width="1497" alt="Screen Shot 2021-07-01 at 3 24 04 pm" src="https://user-images.githubusercontent.com/1110178/124070091-9d9e5300-da80-1

[2021-07-01 05:51] kattekrab commented on #1459
@juliaaano - as we discussed, if you could take a look at this, that would be awesome!

[2021-07-01 05:52] kattekrab commented on #1463
@juliaaano was this the other issue you were interested in looking at?

[2021-07-01 05:53] kattekrab commented on #1395
@juliaaano - there's also this one...

[2021-07-01 05:55] kattekrab opened #1568 "Test Warnings - Need to upgrade Ubuntu"
WE have a test warning saying our OS is deprecated.  It would be great to get that fixed.

[code]

[2021-07-01 06:41] #1474 closed

[2021-07-01 09:22] juliaaano commented on #1334
@kattekrab As part of this issue and related PR #1565, I've included the fixes for that other issue reported in my previous comment. Therefore, you have 3 things to validate:
1. Click the button "Add links we love" does not break the page.
2. Add any random value  in the "Link" field of "LINKS WE LOVE" does not break the page.
3. Add any random value in the "Media Link" of "MEDIA GALLERY" does not

[2021-07-01 11:11] tylerauerbeck opened #1569 "Switch default branch from master -> main"
Probably about time to make the switch from master -> main as we've done with most of our other repos. Likely just a few places that will need changes (github actions, maybe netlify?)

[2021-07-01 11:18] tylerauerbeck opened #1571 "Update Github Actions to only run when appropriate"
Some of the workflows will execute even when there have been no changes to the content. An example of this is if we're making changes to the workflows themselves or some other repo config type files, we probably don't need our end-to-end tests to run as nothing has changed content wise.

[2021-07-01 23:09] kattekrab commented on #1569
Yes please!!!!  1000% agree.

[2021-07-01 23:14] kattekrab commented on #1334
Thanks @juliaaano I will take a look at this now

[2021-07-01 23:28] #1334 closed

[2021-07-02 22:53] kattekrab commented on #1571
Hey Tyler - yes, this makes a huge amount of sense.  I was kind of wondering why we were testing every single practice, for every build.  So optimising our workflows to be smarter, is, well, smart!  I've given you write access to the repo.

[2021-07-03 01:33] kattekrab opened #1574 "Add Authors to the Practice Library Contributor Twitter List"
I've created a twitter list for OPL contributors

https://twitter.com/i/lists/1411126102769164296

I've guessed some twitter handles based on the authors - but I know I haven't got everyone.

Please add your twitter handle here if you want to be added to the list

[2021-07-15 08:34] msanecki commented on #1461
we had first exchange behind us... Content will be sorted, forst draft prepared by me, reviewed by Jakub and Pavlos and then... we are are ready to publish a new practice....

[2021-07-27 00:29] kattekrab opened #1594 "Code of Conduct - suggestions, tweaks, and evolution"
Here's some thoughtful suggestions on improvements to [our code of conduct](https://github.com/openpracticelibrary/openpracticelibrary/blob/a63e5a4701dccc9f4b33e0e214aef990b2c34039/CODE_OF_CONDUCT.md) from @erikbgithub:

The COC might gain from three sections or pointers (all points sorted by priority):
- If I observe a negative event between two other people, how can I give a timeout to the "aggr

[2021-07-27 07:19] erikbgithub commented on #1594
I think that upstream might come in focus once we've discussed the local changes. From my perspective it's totally fine if Open Innovation Labs and this community here is the group that innovates on such organisational design topics.

TODOs I would see:
 - [ ] A draft that doesn't contain questions but clear process definition
 - [ ] 1-3 peer reviews
 - [ ] A community decision (something with rec

[2021-07-27 16:19] rkpattnaik780 opened #1595 "Typo in `DEVELOPING.md`"
There is a grammatical error in [DEVELOPING.md](https://github.com/openpracticelibrary/openpracticelibrary/blame/master/DEVELOPING.md#L13).

maintainer review -> maintainer reviews

[2021-07-27 16:21] rkpattnaik780 commented on #1595
I would like to create a patch if this fix is needed.
Thanks!

[2021-07-28 00:05] kattekrab commented on #1594
Confession: It's a long time since I dived deep into CoC development, and I had not yet given it much thought in relation to OPL.  So this is very welcome.  Thanks @erikbgithub

Those todos seem like a reasonable starting point.

We also need a diff between the current version of contributor covenant and our CoC to reduce cognitive load, and identify where change needs to be introduced.

CoC breac

[2021-07-28 00:25] kattekrab commented on #1594
ref:
https://opensourceconduct.com/corecoc.html

[2021-07-28 14:24] rmarting commented on #1459
This bug/feature helps a lot to new contributors to help in some practices or content. Any idea when will it be available? Thanks.

[2021-08-02 00:11] kattekrab opened #1598 "Remove "entries" from "Add a practice" menu link"
https://github.com/openpracticelibrary/openpracticelibrary/blob/813ca7ccbcb683dd8f4ad5441f00e196becc224d/src/components/shared/Drawer/ListItems.js#L41

The Add a practice link the site menu currently takes you to the psychological safety practice, instead of to an empty content form.

![image](https://user-images.githubusercontent.com/172755/127789576-82daee16-bd82-43e1-a585-9af0d29d131d.png)

Rem

[2021-08-02 00:26] kattekrab commented on #1459
Hey @rmarting we have a mini sprint coming up in a couple of weeks - so we might be able to get it fixed then.  Unfortunately no guarantees at this point, as it will depend on having someone with the time and skills to look into it!

But we definitely want this one squooshed as soon as possible!  I agree it's very important for new contributors.

[2021-08-02 23:33] kattekrab commented on #1431
Yeah - this is a duplicate. Thanks @juliaaano

[2021-08-02 23:33] #1431 closed

[2021-08-03 11:14] msanecki commented on #1461
Hi @kattekrab I just added the practice, save all and set the status to "Review" but from some reason cannot find it anymore using this page: ttps://openpracticelibrary.com/admin/#/collections/practice. Any suggestion where it could be?

[2021-08-03 11:49] msanecki commented on #1461
The draft version has been created: https://openpracticelibrary.com/admin/#/collections/practice/entries/wheel-of-misfortune
@jfilipcz please have a look.

[2021-08-03 15:07] msanecki opened #1601 "Find your Brent - Humanized variant of ToC"
There is a ToC Practice: https://openpracticelibrary.com/practice/the-theory-of-constraints/
There is a book: The Phoenix Project with a story of Brent.
There is this discussion and the idea to try to find constraint in the network of human:
https://www.linkedin.com/feed/update/urn:li:activity:6823647072806350848?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6823647072806350848%2C68243701623056547

[2021-08-05 02:54] varkrish commented on #1459
When we try to upload an image, I see the below error:

Looks like a permission issue

[code]

[2021-08-05 04:48] kattekrab commented on #1459
just merged the test - re-opening.

[2021-08-05 04:50] kattekrab commented on #1461
Thanks @msanecki !!  I see it's still in review phase.  Are we waiting for @jfilipcz to review?

[2021-08-05 05:07] varkrish commented on #1459
As we all know, Netify CMS uses GitHub as its content & data repository.  This means that if we upload images via the content manager https://openpracticelibrary.com/admin, CMS will try to update the image to the Git Master repo directly which is not allowed. _This means, the live content manager will not let anyone to upload media directly._

Now there are two approaches to do it:

### For Develo

[2021-08-05 05:07] #1459 closed

[2021-08-05 05:41] kattekrab commented on #1571
@varkrish do you want to take a look at this one?

[2021-08-05 05:42] kattekrab commented on #1569
@varkrish this could be tricky!  But if you have time, it would be great to get this sorted.

[2021-08-05 05:43] kattekrab commented on #1364
@lallmon - can we close this here?

[2021-08-05 08:18] jfilipcz commented on #1461
Hey @kattekrab  and @msanecki - review on my side will be completed today before EOD

[2021-08-05 08:26] kattekrab opened #1605 "Improve 5 elements canvas"
Via @valyonchev

OPL - 5 Elements
I just saw this article mentioned in a conversation and I have to admit it has escaped me that we had it in the Library
https://openpracticelibrary.com/practice/5-elements-canvas/

There are a couple of issues with it:
2) It could be read as if the 5 elements = silos and implies it only works for very traditional organizations while there is certainly value in any

[2021-08-05 10:15] kattekrab opened #1607 "5 Elements Canvas Practice only visible if Discovery filter is on"
https://openpracticelibrary.com/practice/5-elements-canvas/

This practice does not appear until you toggle the Discovery filter.
I think we've seen this issue with some other practices too.

Could we dig a bit deeper and nail what's causing it, as well as fix it?

[2021-08-05 12:08] itblaked commented on #1595
Hi @rkpattnaik780 , please do go ahead and fork and correct, thankyou!

[2021-08-05 14:03] kattekrab commented on #1601
I love this idea @msanecki - I dunno how many times I've met a Brent, or wondered who the Brent might be!

[2021-08-05 14:04] kattekrab commented on #1412
@tdbeattie any thoughts to add here?

[2021-08-05 17:17] lallmon commented on #1364
Yes this is good to go.

[2021-08-05 17:17] #1364 closed

[2021-08-05 23:38] #1598 closed

[2021-08-05 23:39] #1568 closed

[2021-08-05 23:39] #1571 closed

[2021-08-05 23:49] itblaked opened #1612 "Perform tests only when needed"
Current state:
End to end testing is performed on every practice change (new or existing), regardless of the state of the practice (e.g. draft, pending-review, pending-publish labels). It doesn't make sense to execute tests on drafts.

Proposal:
Update the workflow so that tests are only performed for pending-review and pending-publish states of the workflow.

[2021-08-06 00:41] itblaked opened #1613 "Simplify practice review workflow - Don't raise pull requests for practice drafts"
**Issue**

The current workflow produces a lot of PR's and I feel that it creates a lot of unnecessary PR's for maintainers.

**Current**

The openpracticelibrary-bot raises a PR for a practice when it is in the `draft`, `pending-review` or `pending-publish` state.

**Proposed**

1. Content which is in the `draft` state should not have a PR raised for it won't be ready to be merged and it could si

[2021-08-06 03:51] varkrish opened #1614 "Enable Open authoring for media uploads"
Enable open authoring option to allow direct media uploads and user sign ups:
[https://www.netlifycms.org/docs/open-authoring/](url)

**Alternative for external contributors with Git Gateway**
As noted above, Open Authoring does not work with the Git Gateway backend. However, you can use Git Gateway on a site with Netlify Identity that has open registration. This lets users create accounts on your

[2021-08-06 03:53] varkrish commented on #1459
Refer  [https://github.com/openpracticelibrary/openpracticelibrary/issues/1614](url) for another possible solution

[2021-08-07 09:23] #1595 closed

[2021-08-07 09:27] kattekrab commented on #1614
Thanks @varkrish - this looks really promising. I'm not entirely sure what's involved in making this change.
Definitely seems worth exploring!

@shaheinm @itblaked @juliaaano - what do you all think?

[2021-08-07 09:39] kattekrab commented on #1461
@jfilipcz cool! let me know when it's good to go - or just move it to ready to publish in the workflow!  Thanks :)

[2021-08-09 00:58] kattekrab opened #1618 "Improve this practice link only goes to the practice IF you are already logged in to netlify"
Can we see if netlify can remember where you were even if you're not logged in.

[2021-08-09 09:35] jfilipcz commented on #1461
My comments and proposals (nothing major :) ) have been sent out to @msanecki - if that gets incorporated I think we're ready to publish.

[2021-08-10 00:36] kattekrab commented on #1437
Foundation:

Some Definitions...

the lowest load-bearing part of a building, typically below ground level.
"foundations were being dug for a block of flats"

the structures below the surface of the ground that support a building:
"The foundations will have to be reinforced to prevent the house from sinking further into the ground."

an underlying basis or principle.
"this idea is the foundation o

[2021-08-12 00:38] kattekrab commented on #1594
ToDo - Diff our CoC against upstream Contributor Covenant
https://www.contributor-covenant.org/

[2021-08-18 04:18] kattekrab opened #1623 "Some Practices Need Attribution"
There are a few practices in the library that need attribution, or credit, to the original author or practitioner.

As an example, I recently updated [T2R2](https://openpracticelibrary.com/practice/t2r2-talk-type-read-review/) to give credit to John Findlay, the creator of the meeting etiquette at the base of the practice.

[2021-08-18 04:19] kattekrab commented on #1623
ToDo:
 - create a list of all the practices,
 - check each one to see if there is or isn't attribution
 - create an issue here, Label it content - needs attribution.

[2021-08-25 07:46] kattekrab commented on #1491
I've also recently discovered that liberating structures also has a concept of Strings of Structures

https://www.liberatingstructures.com/sample-strings/

[2021-08-25 14:22] semioticrobotic opened #1631 "Retrospective practice doesn't really describe how to run one"
I'm attempting to describe [the retrospective practice](https://openpracticelibrary.com/practice/retrospectives/), but the description provided doesn't sufficiently illustrate for me *how* to conduct the practice. The ``How`` section of the practice describes materials necessary, tips and tricks for getting it right, issues with remote facilitation, etc., but lacks a clear and stepwise process for

[2021-08-26 15:43] heyjerrybecker opened #1632 "Change Netlify Button from "Set Status" to "Submit Changes""
As a contributor, I want an intuitive way to save and submit my contributions to OPL.

The "Set Status" button is not intuitive, as it gives you options unfamiliar to the user since they don't know our approval process.

Recommend changing this button to say "Submit Changes" and instead of a dropdown menu, it should automatically set the status of the post to "In Review" for the team to look at

[2021-08-30 07:13] kattekrab commented on #1461
@msanecki - @jfilipcz are you both happy for me to merge this in to production now?

[2021-08-30 07:41] msanecki commented on #1461
sorry Donna... I was in vacation last two weeks and did nothing for this...
please give me few days I will get back to you soon with the reviewed
version

pon., 30 sie 2021 o 09:13 Donna Benjamin ***@***.***>
napisał(a):

[2021-08-30 07:53] kattekrab commented on #1461
Great! Thanks @msanecki - take your time, there's no rush! :)

[2021-08-31 10:22] msanecki commented on #1461
the review suggestions are in the new version. I think we are ready with the 1.0.

[2021-08-31 11:22] kattekrab opened #1634 "Comment out youtube link in the footer or add content to the channel?"
https://github.com/openpracticelibrary/openpracticelibrary/blob/813ca7ccbcb683dd8f4ad5441f00e196becc224d/src/components/shared/BodyFooter/index.js#L85

Doing some use testing the other day, we discovered the youtube link points to a channel with no content.

Should we comment out the link for now?
Or add content to the channel?

@mtakane @heyjerrybecker @tdbeattie - what do you think?

[2021-08-31 11:42] heyjerrybecker commented on #1634
I’d love to use the channel for creating content that fills gaps in OPL (like when there isn’t a video walkthrough of impact mapping or something). That was the initial idea because we heard an overwhelming desire from users to see more visuals for practices.

We also had the idea of using it as a way to do sprint share ours - do it via YouTube live and allow for Q&A from attendees…but also have t

[2021-08-31 11:42] kattekrab commented on #1461
Whoohooo! Thanks @msanecki I'll merge it in now.

[2021-09-17 02:12] kattekrab commented on #1634
Those are great ideas!

I wonder if we could make a start by linking to a playlist of videos already in the OPL?

[2021-09-17 02:44] kattekrab commented on #464
I just noticed the "help wanted" tag here.

@sherl0cks @tylerauerbeck - do you guys want to have a crack at drafting a BDD practice?

I like this practical example in the Cucumber docs https://cucumber.io/docs/bdd/

[2021-09-27 07:19] #1362 closed

[2021-09-27 07:26] kattekrab commented on #272
I'm going to say the podcast episode is a good substitute for a video and close this one.

[2021-09-27 07:26] #272 closed

[2021-09-28 06:39] kattekrab opened #1663 "Test Fail "WebpackError: TypeError: Cannot read property 'childImageSharp' of null""
We are getting consistent build fails due to a missing image in a new practice.

When adding a new practice it looks like netlify should be able to use a default image.  But it does not seem to do that.

Work around, is to upload an image, but it would be good to fix this so we don't get build fails.

[code]
From https://app.netlify.com/sites/openpracticelibrary/deploys/6152b51a1ecc50000810a559

[2021-09-30 00:46] kattekrab opened #1664 "Hide scary "Delete published entry" button from the practice edit page from users without privs to delete stuff."
(with thanks to @webchick for the UX session that highlighted this issue)

As a new contributor,
I don't want to see the "delete entry" button,
because it's scary, and makes me think I'm in the wrong place, and that I might accidentally delete something.

As an established contributor with insufficient privs,
I don't want to see the "delete entry" button,
because when I click on it, it tells me I'

[2021-09-30 00:54] kattekrab commented on #1601
@msanecki and @tom-geraghty are either of you planning to draft this practice? Or looking for a volunteer to do it?

[2021-09-30 00:56] kattekrab commented on #1614
Linking to #1463

[2021-09-30 03:47] kattekrab commented on #1432
Tweaking the title.

It is possible to link directly to Miro templates in the Miroverse like this:
https://miro.com/miroverse/stakeholder-management/?social=copy-link

I'm not sure how we add a category to that section in netlify, but it seems to be defined here:
src/components/practicePage/PageBody/Resources.js

We'll need an icon.

Doesn't look like there's one ready to go in the MUI icons set
h

[2021-09-30 04:45] kattekrab commented on #1574
@itblaked this is the issue I was looking at which prompted my question about automating this somehow...

[2021-10-31 07:12] kattekrab commented on #1634
Putting this here for safekeeping just in case I absent minded-ly delete the branch
[code]

[2021-10-31 12:17] kattekrab commented on #1634
I've made a pull request to remove the youtube link for now.
Tests are passing! Yay.
Here's a visual check.

![image](https://user-images.githubusercontent.com/172755/139582850-c9a77f2c-aae6-4a2f-831e-0bdfa53cfce3.png)

If that looks ok, I will need someone else to merge this in though.

[2021-11-22 17:17] eranderson921 opened #1688 "Value Stream Mapping mediaGallery image does not display"
For the Value Stream Mapping practice, the mediaGallery has the same image as the icon.  The icon displays but not the mediaGallery.  The link in the md is https://openpracticelibrary.github.io/opl-media/images/vsm.jpg however that file is not found.  I believe the problem is that the image was never publish/uploaded to opl-media/images.  Or perhaps the link should reference https://raw.githubuser

[2021-12-01 12:39] msanecki commented on #1601
@tom-geraghty I just did small corrections and set the status to "Review"
Maybe you can find some time and have a look at it....

[2021-12-06 23:25] ahussey-redhat commented on #1623
I can open another issue but feel the following could tie nicely into this issue.

**Issue**: When users are reading the practices there is no reference to the author's social media handles/aliases. This means that if the user wants to start a conversation about the practice with the author, they will have to search through the different platforms for the author. Secondary to this, when we release

[2021-12-06 23:28] ahussey-redhat commented on #1623
https://github.com/openpracticelibrary/openpracticelibrary/issues/1574

[2021-12-07 20:42] omcneil opened #1696 "test"

[2022-01-04 00:42] kattekrab commented on #1696
Hey @omcneil - what were you testing? And did we pass? ;-)

[2022-01-04 00:47] kattekrab commented on #1688
These are excellent questions @eranderson921 and I wish I knew the answers.
"best practice" for handling images on OPL is not well defined.
It seems there is more than one way to do it, and as to which one is "best"? I don't know!

Would you be willing to help figure it out? Then we clean up the docs, and make it clearer, and easier for people to contribute.  In the meantime, let's see if we can f

[2022-01-04 00:48] #1634 closed

[2022-01-04 00:49] kattekrab commented on #1632
I like this suggestion.  Tagging for CXE (contributor experience) improvement

[2022-01-04 00:54] kattekrab commented on #1631
We have a few different Retro templates in the library - and there are lots of resources available.  We've also had debates about where it fits, is it delivery? is it foundation?

So - I'm now wondering if we should run a retro spike - gather all the different practices, review them, link them, and make sure the main Retrospectives practices has the kind of actionable steps @semioticrobotic was lo

[2022-01-04 00:58] kattekrab commented on #1623
Yes!  Thanks @ahussey-redhat - agreed - and that came up during some UX research interviews I ran last year.
Two people expressed their expectation of being able to click on the contributor and see some kind of profile.

[2022-01-04 14:22] omcneil commented on #1696
I was doing a test in ZenHub and realized it was still connected to the OPL repo...  and yes we passed :-)

[2022-01-04 14:22] #1696 closed

[2022-01-04 14:57] semioticrobotic commented on #1631
While I'm not an expert on the practice, I'm happy to serve as a reviewer/proofreader of whatever emerges from this work.

[2022-01-17 22:01] kattekrab commented on #1688
I have just updated the practice and replaced

https://openpracticelibrary.github.io/opl-media/images/vsm.jpg
with
https://raw.githubusercontent.com/openpracticelibrary/openpracticelibrary/master/static/images/vsm.jpg

Let's check out the deploy preview and see if that does the trick.

[2022-01-18 06:40] ajdlinux opened #1729 ""Send Feedback" link is broken"
The "Send Feedback" link in the left-hand menu goes to https://forms.gle/tg5STmZmb2m6HwA87, which redirects to a "OPL Testing Feedback Survey" that is not accepting responses.

[2022-01-18 07:23] ajdlinux opened #1730 ""Our Podcast" link should go somewhere more generic than Apple Podcasts"
The Our Podcast link in the left side menu goes to https://podcasts.apple.com/us/podcast/open-practice-podcast/id1501715186, which isn't all that helpful to non-Apple users.

It looks like the podcast is actually hosted over on anchor.fm at https://anchor.fm/openpracticelibrary, which provides links to several podcast platforms and the raw RSS feed. This would be helpful to a wider range of users.

[2022-01-21 22:56] kattekrab commented on #1729
Thanks for posting this issue @ajdlinux - I will look into that right now!

[2022-01-21 23:02] kattekrab commented on #1729
Hrmmmm - I get stuck in a loop trying to "restore" the missing file upload folders.  Looks like some deeper investigation/rectification will be required here.  I'll tag this as a bug, and add to backlog.
![image](https://user-images.githubusercontent.com/172755/150611044-cf4c6658-0b38-4634-a93b-322fb97861f1.png)

Thanks again @ajdlinux - "with enough eyeballs, all bugs are shallow"

[2022-01-21 23:03] kattekrab commented on #1729
Also 🎉  @ajdlinux on your first issue 🙏  😄

[2022-01-21 23:05] kattekrab commented on #1730
Agreed!

@ajdlinux would you be willing and able to file a PR to fix that?

[2022-01-21 23:07] kattekrab commented on #1688
and it looks like that did the trick!
![image](https://user-images.githubusercontent.com/172755/150611439-c0c935df-3a70-42b9-abc7-e3a9d94fda60.png)

Thanks @eranderson921 🙏 😁

[2022-01-21 23:07] #1688 closed

[2022-01-21 23:08] kattekrab commented on #1730
Tagging CXE (contributor experience)

[2022-01-21 23:11] kattekrab opened #1731 "Update authentication token formats"
via email:

Hi @openpracticelibrary-bot
We noticed your personal access token, opl-lamda, has an outdated format and was used to access the GitHub API on December 17th, 2021 at 15:01 (UTC) with a user-agent header of axios/0.19.2.

We recently updated the format of our API authentication tokens, providing additional security benefits to all our customers.

In order to benefit from this new format,

[2022-01-21 23:17] kattekrab commented on #1731
Not sure I can safely do this at this point, so closing the issue for now.

[2022-01-21 23:17] #1731 closed

[2022-01-21 23:22] kattekrab commented on #1427
Thanks @ckavili  for creating
https://openpracticelibrary.com/practice/service-level-indicators/
and https://openpracticelibrary.com/practice/observability/

[2022-01-21 23:22] #1427 closed

[2022-01-24 02:39] ajdlinux commented on #1730
I'll file a PR

[2022-01-24 10:33] #1730 closed

[2022-01-25 22:59] kattekrab commented on #1729
I couldn't fix the issue - so I've created a new feedback form, and will make a PR to update the link to point to that.
Here's a screengrab
![Screen Shot 2022-01-26 at 9 57 19 am](https://user-images.githubusercontent.com/172755/151073818-74f753e2-2f12-468b-84cd-cc4254295f0b.png)

[2022-01-25 23:52] ajdlinux commented on #1729
Thank you!

[2022-01-26 00:36] kattekrab commented on #1729
Deploy preview is ready for testing.
https://deploy-preview-1735--openpracticelibrary.netlify.app
@ajdlinux would you be willing to review it?
https://github.com/openpracticelibrary/openpracticelibrary/pull/1735

Here's a gif of my own manual test.

![2022-01-26 11 20 13](https://user-images.githubusercontent.com/172755/151083017-5ebc4c98-f495-467f-be5b-f1757ad9e4c3.gif)

[2022-01-26 01:44] ajdlinux commented on #1729
I don't have permission to view the new form.

[2022-01-26 03:16] kattekrab commented on #1729
Aaah. Woops.  I've updated access settings - @ajdlinux can you please try again?
I may need to update the link too - but let's see.

[2022-01-26 04:19] ajdlinux commented on #1729
LGTM!

[2022-01-26 05:29] #1729 closed

[2022-01-28 08:02] kattekrab commented on #1574
Our semi-automation means we're linking to the wrong folk on twitter....
So maybe - instead of tagging tweets @ $githubid - we should do attribution like this:
 🙏 Rigel Di Scala - https://github.com/zedr

until we can either add a field to the author profile, or add twitter handles to bio field.

@ahussey-redhat @caitelatte - what do you think?

[2022-01-28 08:04] kattekrab commented on #1623
I forgot about this approach too...  seems there's a few ways to tackle this.
What's best? / easiest?

[2022-01-31 08:50] kattekrab commented on #1574
@ahussey-redhat and I met today and agreed adding a field to the author profile template seems to make the most sense for now.

[2022-01-31 23:42] ahussey-redhat commented on #1623
@kattekrab , just for completeness I'll add the comment in here that captures our descision.

  handle twitter IDs in OPL, and agreed to go ahead with adding a field to the
  author field - I've made a start of trying to collect the twitter handles - so we can
  then backfill the data once we have the field

[2022-02-03 03:58] #1569 closed

[2022-02-03 19:46] karimayhew opened #1746 "Similar content for 2 practices on OPL site"
https://openpracticelibrary.com/practice/how-now-wow-prioritization-matrix/

https://openpracticelibrary.com/practice/impact-effort-prioritization-matrix/

These practices have roughly the same content -- do they need to be looked at and updated? (We are using them in our OPL Practice Interactive Tool) Thanks!

[2022-02-04 16:02] rmarting opened #1747 "Order or visualize the latest added or updated practices"
The current long list of practices in OPL does not allow to identify which are the latest added or updated, so as reader is complicated to follow or track the changes.

It could be a good idea to order or list the practices from the latest activities (adding, updating), so the reader could be aware about these practices and the latest movement.

A simple "Order by: popularity | latest change" coul

[2022-02-06 23:29] kattekrab opened #1748 "Can't log in to netlify - Re-issue git gateway token"
**Describe Issue**
Can't login to netlify.

**How To Reproduce?**
1. Go to https://openpracticelibrary.com/admin/#/collections/practice/new
2. Click "Login with Netlify Identity"

Error message says

Git Gateway Error: Please ask your site administrator to reissue the Git Gateway token.

Screenshot:

![Screen Shot 2022-02-07 at 10 20 15 am](https://user-images.githubusercontent.com/172755/15270594

[2022-02-07 05:29] kattekrab commented on #1748
I have amazed even myself, and fixed this!

[2022-02-07 05:29] #1748 closed

[2022-02-08 22:15] kattekrab opened #1753 "Netlify preview error: TypeError: Cannot convert undefined or null to object"
Edited a practice - and the preview is not working properly.

Haven't yet investigated if it is just that practice, or more widespread.

https://openpracticelibrary.com/admin/#/collections/practice/entries/design-actions

![image](https://user-images.githubusercontent.com/172755/153084626-30827ddb-7f4a-427a-9f01-a307a496e732.png)

[2022-02-08 22:16] kattekrab commented on #1746
Thanks @karimayhew - let's see if we can get someone to review and remedy this!

@valyonchev - these are both your practices - can you take a look or see if you can find someone to help?

[2022-02-08 22:55] kattekrab commented on #1574
Plodding away at this...
https://twitter.com/i/lists/1411126102769164296

[2022-02-08 23:09] ahussey-redhat commented on #1574
Nice work Donna! :)
Just had a quick look, and looks like we may have two accounts for one
person?
<https://twitter.com/PereraMaggie>
<https://twitter.com/PereraMaggie>
<https://twitter.com/PereraMaggie>
@PereraMaggie and  <https://twitter.com/PereraMaggie>
@MaggiePerera
<https://twitter.com/MaggiePerera>

On Wed, Feb 9, 2022 at 9:55 AM Donna Benjamin ***@***.***>
wrote:

--

Alexander Hussey, RHC

[2022-02-08 23:44] kattekrab commented on #1753
Yep - something is very busted.

Edited another practice, and hitting the same issue there too.

[2022-02-08 23:49] kattekrab commented on #1753
https://app.netlify.com/sites/openpracticelibrary/deploys/6202e866f291db000727e445

[2022-02-09 05:12] #1753 closed

[2022-02-09 21:13] MaggiePerera commented on #1574
Hi Donna,

This is my twitter

[image: image.png]

Abrazos!

Maggie Perera

Transformation Practice

Red Hat
+52 1 55 80464369
***@***.***
Based in Mexico

On Tue, Feb 8, 2022 at 5:10 PM ahussey-redhat ***@***.***>
wrote:

[2022-02-10 10:28] kattekrab commented on #1746
I've edited How Now Wow

![image](https://user-images.githubusercontent.com/172755/153388183-bad6e9ac-0fd1-4a68-89e4-ea8b7915b3fd.png)

Deploy preview
https://deploy-preview-1759--openpracticelibrary.netlify.app/practice/how-now-wow-prioritization-matrix/

#1759

[2022-02-10 11:20] kattekrab commented on #1746
Tweaked:

![image](https://user-images.githubusercontent.com/172755/153396850-7f8f442a-d043-4a4b-9375-3875c6cdce93.png)

[2022-02-10 11:35] kattekrab commented on #1461
https://openpracticelibrary.com/practice/wheel-of-misfortune/

[2022-02-10 11:35] #1461 closed

[2022-02-10 23:03] fabiopereira opened #1761 "OPL Reactions"
It would be amazing to have Reactions, Like, Clap, Used it.. etc. Similar to LinkedIn.

[2022-02-11 22:33] kattekrab opened #1762 "Tweak: Change objective for Code Review"
Change Object on Code Review Practice

From:
Also a review on the developer's ego

To:
Improve quality and knowledge sharing through collaboration and peer review.

https://openpracticelibrary.com/practice/code-review/

[2022-02-13 20:20] valyonchev commented on #1746
This is really weird. To make things worse, I have lost my notes and cannot recover the original content.
Both matrices are very similar, but still different.
The How-Now-Wow is more frequently used for feature prioritization and can be combined with MoSCoW, Kano and other similar techiques. The Impact-Effort can be done for features, but is really useful in design of experiments.

This text looks

[2022-02-14 03:38] kattekrab opened #1763 "7 practices with missing tile images"
We have 7 practices that are still using the "Needs an image" placeholder.  I've tagged the authors below, but anyone can help us find, (or even create) an image to illustrate the practice.  This is the image that's used on the homepage, not the practice itself.

- [x] https://openpracticelibrary.com/practice/grow-model-for-1-1-coaching/ - @shabnoorshah
- [x] https://openpracticelibrary.com/practi

[2022-02-14 05:43] kattekrab commented on #1746
Thanks @valyonchev - I'll merge it in now, and look forward to improvements in future when you have time!

:)

[2022-02-14 14:27] tom-geraghty commented on #1763
I've attempted to add an image for the Westrum's practice. If using CC images from (e.g.) Unsplash, is there a location or way to present the attribution? I've pasted it into the main body text, but it should be captioned closer to the image, ideally.

Thoughts?

Example caption:
Photo by [Meghan Lamle](https://unsplash.com/@mlamle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText

[2022-02-15 00:17] kattekrab commented on #1763
Yeah -  we don't have a proper way to do captions or alt text at the moment
There is an issue in the backlog for captions - #268

For now, I reckong adding to the main body text is fine! Thanks @tom-geraghty

[2022-02-15 05:12] kattekrab commented on #1763
#1764

[2022-02-16 11:04] zedr commented on #1763
Thanks @kattekrab

I've updated the practice's cover photo with a diagram I drew a few years ago.

[2022-02-16 21:19] kattekrab commented on #1763
Thank you @zedr @zene22 @shabnoorshah for those updates 🙏
I have all these PRs to review now! This is excellent 👏 👏 👏

#1765
#1766
#1767
#1768

[2022-03-05 02:15] kattekrab commented on #1763
One more to go!

[2022-03-05 23:52] kattekrab opened #1778 "Bug: Failed to persist entry: API_ERROR: GitRPC::BadObjectState"
Issue raised by @daveesra - who has a number of new practices about risk in review.

He's unable to edit and save these, and is getting this error

Failed to persist entry: API_ERROR: GitRPC::BadObjectState
![image](https://user-images.githubusercontent.com/172755/156903439-ed5ffa9d-9582-49f2-b724-3115966fdf35.png)

Searching for that issue - lead me to this post.  So there may be clues to resolve

[2022-03-05 23:55] kattekrab commented on #1778
First thing I'm going to try - just in case it works, is to update the branch.

[2022-03-06 00:18] kattekrab commented on #1778
Nope, that didn't fix it.

[2022-03-06 00:28] kattekrab commented on #1361
@lallmon is there more info on this lurking somewhere?
Is it still relevant? Is there progress? Should we close it?

[2022-03-06 01:05] kattekrab commented on #1778
I tried merging and publishing it, and then editing.
Now get a slightly different error - but didn't manage to screenshot it.
Just API_ERROR

Copying the content here for safekeeping:

[2022-03-07 18:35] lallmon commented on #1361
@kattekrab There was a push to align the OPL and it's practice filtering with the "5 Elements of Successful Digital Transformation".

I personally thought it was more marketing more than pragmatic, and haven't seen much about it since then. Additionally on my browser, it's a broken download
https://www.redhat.com/en/resources/5-elements-successful-digital-transformation

So if you decided to nuke

[2022-03-19 23:16] kattekrab opened #1794 "Feature request: "I used this practice""
05/03/2022 05:23:44

"I would like to suggest a new functionality within each practice.The functionality would be button or icon (same as like) but informing that I as a user used the practice.For example: I've already used the "Priority Sliders" practice. And Leave it marked that I have already used it. " - @andrecataldo

via feedback form

[2022-03-19 23:24] kattekrab commented on #1361
Thanks @lallmon - that matches a conversation I had with @tdbeattie. It's reductionist to try and map each practice to one of the 5 elements.  Because many of them could and should be used across all of them.

[2022-03-19 23:24] #1361 closed

[2022-03-19 23:25] #200 closed

[2022-03-19 23:26] #450 closed

[2022-03-19 23:27] kattekrab commented on #563
Yes.
Want.

[2022-03-19 23:29] kattekrab commented on #1746
We have resolved the duplication by editing one of the practices, so I'm going to close this issue now.
@valyonchev - please do feel free to update either of them when you have time.

[2022-03-19 23:29] #1746 closed

[2022-03-19 23:29] #609 closed

[2022-03-19 23:30] kattekrab commented on #1605
@valyonchev can you expand on what needs to be done with this?

[2022-03-19 23:31] #718 closed

[2022-03-19 23:33] kattekrab commented on #1794
duplicate of #1040

[2022-03-19 23:34] kattekrab commented on #1040
Another feature request for this came in via the feedback form

[2022-03-19 23:36] kattekrab commented on #1460
@jfilipcz - are you planning to draft this?  Or know someone who might want to do it?

[2022-03-19 23:38] kattekrab commented on #1279
Hmmm - this is a good one - it's confused at least a couple of people recently.

[2022-03-19 23:47] kattekrab commented on #1279
I've commented out the "What is a perspective" section of the editorial guidelines as a starting point

[2022-03-19 23:50] kattekrab commented on #1279
or not...

[2022-03-19 23:55] kattekrab commented on #1279
commenting didn't work - so I'm just deleting it, and putting it here for safe keeping.

## What is a perspective?

A perspective is an idea that underpins a group of practices. It's a way of framing a problem. It's not something that you do; it's something that you have in mind as you do the practices. For example, [Domain Driven Design](/blog/domain-driven-design/) is the perspective behind [Imp

[2022-03-22 03:45] kattekrab commented on #1279
@heyjerrybecker - does this work for you?

[2022-03-22 03:54] heyjerrybecker commented on #1279
Yep! Nice work, @kattekrab 👏👏👏

[2022-03-22 09:36] jfilipcz commented on #1460
Hey @kattekrab, draft which is nearly completed is here: https://docs.google.com/document/d/13_r9emhTL-Qrj6cEt3wJpgz0eAb8BlfYWeShl7DKxkA . I plan to release that in the next few days

[2022-03-22 12:34] jfilipcz commented on #1460
A draft has been save on Open Practice Library: https://openpracticelibrary.com/admin/#/collections/practice/entries/blameless-postmortem

[2022-03-22 13:27] jfilipcz commented on #1460
One question @kattekrab, should I put the practice to "In review" myself?

[2022-03-22 23:38] tim-stasse opened #1800 "Upgrade search functionality"
As a practitioner, I want the search bar to search the entire practice content (not just filter by title), so that I can easily find practices relevant to my search criteria (that I may not already be aware of)

[2022-03-23 00:24] kattekrab commented on #1763
I went ahead and added a pic for parking lot, so callin' this 'n done!

[2022-03-23 00:24] #1763 closed

[2022-03-23 07:12] jfilipcz commented on #1460
The thing was through the rounds of review, but maybe @ckavili can have one final look?

[2022-03-24 10:11] kattekrab commented on #1460
aaah - no, that's fine.  I'll take a look and merge it through once the tests pass.

[2022-03-25 22:47] kattekrab commented on #1460
I just merged this in to prod.
I found a pic to use as the practice tile:
![image](https://user-images.githubusercontent.com/172755/160211646-b2aa056a-de9d-4770-a5f5-e84479b08090.png)

Would be good to add some images to the practice too - are there any templates or action shots that could be added to bring it to life?

[2022-04-04 08:17] kattekrab commented on #1778
This issue is still blocking editing these practices

![Screen Shot 2022-04-04 at 6 15 52 pm](https://user-images.githubusercontent.com/172755/161502764-2d0ebf04-a996-41ab-ba95-12f6355d5eec.png)

@tim-stasse can you take another look?

If we can't figure out what the problem is, would it be best to delete these PRs and start the practices from scratch?

[2022-04-04 08:18] kattekrab commented on #1778
@daveesra - tagging you too.

[2022-04-06 00:19] kattekrab commented on #1778
@ahussey-redhat and I discussed this in today's catch up - let's timebox trying to resolve this in the next 2 weeks?
If we can't crack it, then we can delete these PRs and create new ones.  It would be good to know what the problem is though!
@tim-stasse / @ahussey-redhat - can you pair up and see if you can nail this?

[2022-04-06 00:33] ahussey-redhat commented on #1778
Sounds good.
@tim-stasse - I believe you started doing some testing locally on this issue and were eventually able to replicate it, but resolved it by clearing a cache?

We can move the troubleshooting discussion over to gchat, I just wanted to confirm what we have already done

[2022-04-06 00:56] eliseelk opened #1810 "Add Twitter Icon/Button to Footer"
![Screenshot from 2022-04-06 10-54-14](https://user-images.githubusercontent.com/101151843/161874437-a4ce059d-0f0b-4987-a2b0-12fa045904fc.png)

Add Twitter icon and link to footer next to other social media icons

[2022-04-15 00:09] kattekrab commented on #1810
I had a go at this - and it seems to have worked.

Please review
Compare the change in this deploy preview
https://deploy-preview-1812--openpracticelibrary.netlify.app/page/contribution-guide

against production
https://openpracticelibrary.com/page/contribution-guide

[2022-04-20 00:30] kattekrab opened #1813 "CX - Fix TOKEN error preventing external contributions"
External contributors PRs can't be merged, cos the tests won't pass, cos they don't have access to our github environment variables.

eg.
Error: Please set NETLIFY_TOKEN env variable to your Netlify Personal Access Token secret
Error: Required field `site_id` was not provided

see https://github.com/openpracticelibrary/openpracticelibrary/runs/6032640396?check_suite_focus=true

[2022-04-20 00:47] kattekrab commented on #1778
We've discussed this today - we're going to recreate one of the draft practices to confirm that work around does the trick.

[2022-04-20 00:51] kattekrab commented on #1778
Thanks @ahussey-redhat - reassigning to you for now

[2022-05-03 08:00] kattekrab commented on #1813
This might be fixable via documentation, by providing contributor instructions on how to setup their own netlify tokens.  At least that's what @bproffitt suggested we should try!

[2022-06-01 02:40] kattekrab opened #1821 "Update request for Security Checklist"
via email

"Hi there,

Can I please request an update on the files you link to from the following page? https://openpracticelibrary.com/practice/security-checklist/

We've recently consolidated and updated the Code Review Security Checklist and Implementation Manual, and the updated link for both is https://academy.safestack.io/wp-content/uploads/2022/03/secure_code_checklist_and_implementation_gu

[2022-06-01 03:24] kattekrab commented on #1821
#1820

[2022-06-03 00:04] kattekrab commented on #1810
Thank you @eliseelk for the suggestion, and the review.  This change is live! So we can close this issue now!

[2022-06-03 00:04] #1810 closed

[2022-06-03 00:05] #1574 closed

[2022-06-06 01:01] tim-stasse commented on #1821
I assume this is closed now - right @kattekrab?

[2022-06-06 01:01] #1821 closed

[2022-06-23 02:51] ahussey-redhat commented on #1813
Did we end up working out what the process should be to specify our own token/how to generate our own token?

[2022-06-24 23:45] MaggiePerera opened #1830 "Images not available in Cognitive Loadometer Practice"
I want to alert you that I consulted the Cognitive Loadometer practice in OPL and I noticed that the images that were previously loaded are not shown, I consulted other random practices and I only observed this Cognitive Loadometer Practice

https://openpracticelibrary.com/practice/cognitive-loadometer/

[2022-06-26 23:48] kattekrab opened #1831 "Should we rename Social Contract, to Social Agreement?"
@ChrysSills99 thank you so much for this pull request!

There has been some off line discussion about changing the name from Social Contract, to Social Agreement.

Personally, I prefer Contract - but I appreciate that others have a different view, and don't want to reject the change without more input.  So, I'm going to open an issue for transparency and discussion. Let's see if we explore and doc

[2022-06-27 07:40] kattekrab commented on #1830
Oops - pasted the wrong link.
Fixed, and redeploying preview now.

[2022-06-27 07:53] kattekrab commented on #1830
That's better!

Deploy preview:
https://deploy-preview-1832--openpracticelibrary.netlify.app/practice/cognitive-loadometer/

@MaggiePerera I'm not sure if they are the right images, you might remember better?
Can you check - if it looks ok to you, I will deploy to production

[2022-06-27 08:13] tom-geraghty commented on #1831
I'd add that Social Contract Theory is a well established sociological concept (possibly one of the oldest). 
I often encounter confusion when working with folks with a sociological or philosophical background, because talking about creating a "social contract", to them, sounds a bit like "let's recreate an existing social theory". 
In addition, social contract theory has some strong opposition in

[2022-06-28 06:49] rmarting commented on #1831
IMHO I am more comfortable with "contract", as the set of rules defined by the team to set up the space of collaboration and work. I am not a legal expert, "agreement" or "contract" could have different meanings or use cases, also across different cultures and languages.

I would like to understand better why "agreement" is a better word for this practice. @ChrysSills99 could you give us more cont

[2022-06-28 21:59] kattekrab commented on #1830
Merged! Thanks @MaggiePerera

[2022-06-28 22:04] MaggiePerera commented on #1830
Hola Donna,

Excellent! Thanks!!! =)

Abrazos!

Maggie Perera

*Transformation Practice *

Field Readiness Program

*NOLA & SOLA *

+52 1 55 80464369
***@***.***
Based in Mexico

On Tue, Jun 28, 2022 at 5:00 PM Donna Benjamin ***@***.***>
wrote:

[2022-06-29 06:33] eformat commented on #1831
interesting. some googling points to

so nothing paternal in there specifically ?

[2022-06-29 08:09] tom-geraghty commented on #1831
Worth reading stuff by Carole Pateman, who describes the patriarchal nature of the social contract: https://www.jstor.org/stable/2381814

I don't think this should influence the decision too much, but it's worth being aware that there are existing connotations and contexts associated with the term "social contract".

[2022-06-29 23:49] MaggiePerera opened #1833 "Meditation Practice without author name"
I note that my Meditation practice does not have the author's name

https://openpracticelibrary.com/practice/meditation-to-generate-positive-emotions-for-the-team/

<img width="1168" alt="image" src="https://user-images.githubusercontent.com/67352131/176564374-dedaf501-1dd3-4ba5-b6fe-596d8b535d86.png">

[2022-06-30 04:57] eformat commented on #1831
thanks a lot @tom-geraghty .. you have opened my eyes .. i couldn't really read behind the paywall/login thing on your link - but i have been researching a bit.

these views are my own, but i will add here for the discussion:

i thought this was a good small summary of current Feminist Views on Social Contracting:
https://science.jrank.org/pages/11277/Social-Contract-Feminist-Views.html

It also s

[2022-06-30 07:47] kattekrab commented on #1830
You're welcome @MaggiePerera - I will close this now, as the change is live!

[2022-06-30 07:47] #1830 closed

[2022-06-30 07:58] tom-geraghty commented on #1831
Impressive work @eformat !

[2022-07-01 03:46] kattekrab commented on #1813
@ahussey-redhat not me, not yet!

[2022-07-05 23:49] rohandry commented on #1833
The author listed on the practice must exactly match that listed in GitHub (Case Sensitive).
In this case the issue was fixed by updating maggieperera to MaggiePerera.

As the current advice is to use only lower case:
"Comma-separated list of LOWER CASE github usernames eg., springdo, rdebeasi, tdbeattie"
I have submitted a change to update this to:
"Comma-separated list of case-sensitive github u

[2022-07-05 23:50] kattekrab commented on #1831
Elsewhere @ChrysSills99 indicated she's happy to close the PR changing the name, in favour of seeing "Agreement" as a variation, and opportunity for discussion with the team.   So I'll do that now.  @ChrysSills99 - I hope this is ok with you!?

Thanks everyone for the discussion here and exploring the issue so thoroughly!
🙏 😺

[2022-07-06 03:53] tim-stasse commented on #1833
Do we need to do anything with this for existing authors? i.e. are there more authors affected by this that we need to update, or can we close this now that the hint has been updated?

[2022-07-06 04:07] rohandry commented on #1833
Just clicked through the practices and found two more.
1. https://openpracticelibrary.com/practice/minimum-viable-product-mvp/
2. https://openpracticelibrary.com/practice/c4-architecture/
The first does not seem to have a name listed on GitHub.
The second seems to be correct already so perhaps a different issue.
Otherwise the rest are good.

[2022-07-06 04:53] kattekrab commented on #1833
MVP practice is by https://github.com/DAppleyard93
I've just updated @DAppleyard93's author page to be case sensitive too - see if that helps.
C4 is InfoSec812 - also just updated the author page there.
Tests running

[2022-07-06 07:56] kattekrab commented on #1833
merged, and deployed!

Good catch @rohandry

@MaggiePerera if you're happy, I think we can safely close this issue now!

[2022-07-06 12:33] ChrysSills99 commented on #1831
Oh I missed all the messaging.  Sorry to delay in sharing my thoughts.  I'm good with what the collective feels is the right thing.  At Red Hat we have been talking about how to use more Inclusive Language that establishes the agreement as a component of the overall collective "contract" for delivery.

The **agreement** brings everyone together to collaborate and identify what they agree to social

[2022-07-06 22:19] eformat commented on #1831
hi @ChrysSills99 .. i think you a conflating the two terms a little bit.

the *agreement* - is when everyone in the team agrees to the bahaviour being added to the social contract. you can agree with something but *not* be accountable to performing the actual behaviour.

the *contract* - signifies the *commitment* to the social contract as a whole. we do this when facilitating by asking everyone i

[2022-07-07 04:03] MaggiePerera commented on #1833
Yes

Yes @kattekrab close this issue please, and thanks a lot!

[2022-07-08 01:07] #1833 closed

[2022-07-15 04:48] wengkee commented on #1813
if there is a common netlify URL / token that can be used for this purpose, one way is to setup a secret at repository level or organization level, and point the github action file to use that

[2022-07-18 22:33] #1322 closed

[2022-07-21 06:57] #1294 closed

[2022-07-21 06:58] #1214 closed

[2022-07-25 16:23] berhauz opened #1849 "Proposing a new practice: the Organum - structuring a whole project's knowledge"
Background:

It is essential to structure knowledge in order to share it efficiently. Well documented code is just one aspect, tasks, plans, reports, and project presentations are also much known; but there's much more, ranging from early sketches to specifications, deployment tips, knowledge route maps, training materials, test samples, operational procedures, project's organization, meeting note

[2022-07-26 00:45] JemJem commented on #1849
Very interesting System Topology.
Where would you start when introducing someone to it?
How would you facilitate it?
Which outcomes is this approach leading to?

[2022-07-26 06:59] berhauz commented on #1849
_"System Topology"_: sharp qualification! Indeed, the model is derived from the EST = Enterprise System Topology of Praxeme... another candidate for a practice... but one at a time

_Where would you start when introducing someone to it?_
first use and application is - linked to this practice and its context - to structure a project's wiki, i.e. the home page for all the knowledge about a project a

[2022-07-27 22:19] kattekrab commented on #1831
Thanks for the discussion everyone.  Consensus suggests we stick with "contract" here, but there is nothing preventing people using "Agreement" in practice in the field.  I'm aware others use "Team charter" to cover this kind of agreement making too.  "A rose by any other name would smell as sweet" - the impact and outcome is in the doing and discussion!

[2022-07-27 22:19] #1831 closed

[2022-07-27 22:19] #1778 closed

[2022-07-27 22:25] kattekrab commented on #1800
@tim-stasse any progress on this?  Or ideas to share?

[2022-08-10 03:53] kattekrab commented on #1813
@wengkee do you want to have a go at setting that up?

[2022-08-15 00:26] kattekrab opened #1889 "Add a 301 redirect from /practice/new to /practice/measuring-psychological-safety"
I re-created a practice cos the URL has always bugged me and it's creator @tom-geraghty

So now we have the original...
https://openpracticelibrary.com/practice/new/

And the new address
https://openpracticelibrary.com/practice/measuring-psychological-safety/

I would like us to figure out how to

I went spelunking in the netlify docs
https://www.netlify.com/blog/2019/01/16/redirect-rules-for-all-

[2022-08-15 02:14] #1889 closed

[2022-08-15 23:17] eliseelk opened #1891 "Add LinkedIn logo button"
A LinkedIn page for OPL has just been launched (yay) and we now need a LinkedIn icon button to accompany the other social media icon buttons at the footer and header of each page. The current icon in the header doesn't yet link to the page-it just links to linked in generally.

Additionally-the header and footer social media icons should be the same?

url to the OPL linkedin page: https://www.link

[2022-08-15 23:39] ahussey-redhat commented on #1891
Link to previous PR where we added/updated the Twitter icon and links for reference:
https://github.com/openpracticelibrary/openpracticelibrary/pull/1812

[2022-08-15 23:42] ahussey-redhat commented on #1891
I believe this is one of the files that will need to be modified
https://github.com/openpracticelibrary/openpracticelibrary/blob/main/src/components/shared/BodyFooter/index.js

@eliseelk , would you feel comfortable attempting to edit this file?
I would reference what we did to add the Twitter icon/link, and do something similar with the LinkedIn icon/link

[2022-08-15 23:45] ahussey-redhat commented on #1891
[code]

[code]

[2022-08-16 00:08] kattekrab commented on #1891
Awesome! Yes, let's do this :) @ahussey-redhat and @eliseelk nice work so far.

It may be worth noting, that the icons in the footer link to OPL pages in social media, but the icons in the header are share links - intended for the visitor to share that page with their own networks. They work differently.

So, I'm not convinced they should link to the same thing.

But let's discuss further?

[2022-08-16 00:11] eliseelk commented on #1891
I can give it a go!

I had another look and I agree Donna, they should be separate as they are for different uses

[2022-08-24 00:20] sashperso opened #1896 "Missing Comment Section in Practice - Expand and Contract Pattern"
Hi Team,
The Expand and Contract Pattern practice on the OPL site is missing the comment section at the end of the practice. This seems to be an isolated issue - while auditing the practices I didn't see this come up anywhere else. I had a poke around on the content manager and couldn't see anything that would indicate why this feature is breaking.

The screenshot below shows what it looks like on

[2022-08-24 00:25] sashperso opened #1897 "Feature Request: Spanish/Language Toggles"
I've noticed that there are some practices that have been translated into Spanish and available on the library (Tormenta de eventos/Event Storming and Meditacion/Meditation come to mind). It would be awesome if visitors would have the ability to toggle directly on either of these practices to see it in their preferred language. This could be helpful in the future if translations are done by other

[2022-09-02 06:01] #1891 closed

[2022-09-07 00:29] kattekrab opened #1911 "Deprecation notice: Netlify builds using the Xenial build image will fail after November 15, 2022"
Deprecation notice: Netlify builds using the Xenial build image will fail after November 15, 2022

The Netlify build system maintains multiple build images, which set the environment in which your sites build. One or more of your sites is using the “Xenial” image, built on Ubuntu 16.04 (“Xenial Xerus”). Ubuntu Xenial finished its Long Term Support period in 2021 and is no longer supported by Canon

[2022-09-07 00:29] kattekrab commented on #1911
Docs -
https://docs.netlify.com/configure-builds/overview/?_ga=2.18319743.776838187.1662510344-824546129.1650414403#build-image-selection

[2022-09-07 11:12] kattekrab commented on #1800
@tim-stasse ping?

[2022-09-08 07:42] Ilaria66 opened #1913 "Update Social Contract aligning to TL500"
To align practices across TL500 updated slide deck and the OPL, there are few things:

in the WHY>>> Add in the list :
- Enables psychological safety within the group

in the HOW do we do:
add all numbered simplified steps from slide " how do we do" https://rht-labs.com/tech-exercise/slides/content/?name=social-contracts#/8

in the example question/tips add:
https://rht-labs.com/tech-exercise/slid

[2022-09-08 23:13] kattekrab commented on #1913
Great suggestion @Ilaria66 - awesome!  Thank you - yes I agree this would improve the practice!

[2022-09-09 07:40] kattekrab opened #1914 "Add North Star Framework to OPL"
See pages 225-229 of DevOps Culture and Practice Enablement book
also:
https://amplitude.com/north-star
https://productfolio.com/northstar-framework/
https://miro.com/miroverse/just-mads-north-star-metric-workshop/

[2022-09-09 07:54] tdbeattie commented on #1914
Hey @kattekrab - this has been on my list to do for a while... thank you for raising an issue. I'd be very happy to put a first version in for consideration.

[2022-09-09 08:16] kattekrab commented on #1914
Oh that'd be awesome @tdbeattie - and very very welcome :)

[2022-09-27 01:06] #1911 closed

[2022-09-30 01:43] kattekrab opened #1921 "Automate our community stats on the "about us""
ON this page we have https://openpracticelibrary.com/about 2 community stats in big circles - like this:

<img width="950" alt="image" src="https://user-images.githubusercontent.com/172755/193171805-af76df96-25ff-4aea-95f6-57547e78cc0b.png">

I wonder if we could make that dynamic so it is automatically updated?

[2022-09-30 02:08] kattekrab opened #1922 "Update community stats on the about us page"
https://openpracticelibrary.com/about

Currently it says 155 practices and 117 contributors

But we have 193 practices, and 120 author nodes (which may not equal # of contributors)

I've also raised #1921  to see if we might be able to automatically update these stats.

[2022-10-13 01:55] sashperso opened #1923 "Hyvor Commenting Feature is Broken"
Hey team,

Hyvor is no longer working on the OPL. Consensus is to disable the feature and then to close the OPL account for the Hyvor service.

[2022-10-13 01:55] sashperso commented on #1923
I'll give looking at how to disable the service a go this afternoon

[2022-10-13 02:10] sashperso commented on #1923
Okay first step seems to be to remove the hyvor talk code from OPL's source code (including the cusotmisations).

Then we'll have to delete the account on the hyvor site

[2022-10-13 02:24] sashperso commented on #1923
Hyvor Talk component inserted in src/components/practicePage in both PageBody/index.js and PageMenu/index.js

[2022-10-13 04:53] sashperso commented on #1923
Pull request from when Hyvor Talk was embedded: PR #1280

[2022-10-13 07:22] kattekrab commented on #1923
Thanks all - I had a look at the deploy preview - and can confirm it's gone!

Before and after screen gabs coming up.

[2022-10-13 07:27] kattekrab commented on #1923
![image](https://user-images.githubusercontent.com/172755/195530124-fd4b7f9e-f0c0-4665-a11a-9b47d088c739.png)

[2022-10-13 07:32] #1923 closed

[2022-10-14 01:07] tim-stasse commented on #1813
So the core of the issue here is that "Secrets are not passed to workflows that are triggered by a pull request from a fork".

This is a (security) feature, not a bug!

If it was allowed, it would make us vulnerable to potential threat actors who would then be able to steal our secrets by simply opening a PR (because the workflow would be executing untrusted code).

One solution to this is to migr

[2022-10-23 20:51] kattekrab opened #1932 "Upgrade Gatsby to resolve build fails"
We're getting build fails.

The log suggests we need to upgrade Gatsby for 14.15.0 or higher (from 12.22.12)
![image](https://user-images.githubusercontent.com/172755/197417563-417ac36f-12bb-44c8-bb25-877366b4153c.png)

[2022-10-25 04:03] Bcool5000 opened #1933 "Broken link on Creativity Warmups Practice"
Link to Creativity warm ups throws a 404

http://home.iitk.ac.in/~sahus/se367/project/TTCT.pdf

[2022-10-25 04:54] kattekrab commented on #1933
Hey! @Bcool5000 thanks for this bug report!

This is the practice
https://openpracticelibrary.com/practice/creativity-warmups/

<img width="874" alt="Screen Shot 2022-10-24 at 7 42 19 am" src="https://user-images.githubusercontent.com/172755/197684972-1e014fb8-a8c7-4633-be33-bf395f0c6f2b.png">

It looks like the resource is in the wayback machine
https://web.archive.org/web/20220121213240/http://h

[2022-10-25 05:03] kattekrab commented on #1933
[CreativityWarmups-TorranceTests.pdf](https://github.com/openpracticelibrary/openpracticelibrary/files/9857264/CreativityWarmups-TorranceTests.pdf)

[2022-10-25 05:41] Bcool5000 commented on #1933
Thank you!

Regards,

Ben Peterson
Garage Lead - Hybrid Cloud Services
+61 (0) 410 430 813 Mobile
***@***.***
LinkedIn<https://www.linkedin.com/in/bendpeterson/>
He/Him/His

IBM Consulting

From: Donna Benjamin ***@***.***>
Date: Tuesday, 25 October 2022 at 3:54 pm
To: openpracticelibrary/openpracticelibrary ***@***.***>
Cc: Ben Peterson ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [

[2022-10-26 22:53] kattekrab commented on #1933
Here's another good reference for TTCT - not a template though.

https://johndabell.com/2020/01/06/torrance-tests-of-creative-thinking-ttct/

[2022-10-26 22:54] kattekrab commented on #1933
@heyjerrybecker - do you have something more recent we could add here to replace the broken link?

[2022-10-26 23:05] kattekrab commented on #1813
Thanks @tim-stasse - I thought this might be the case.  So yes, let's look into alternatives.  We definitely want to preserve the security feature.  Could we explore the build plugin idea?  Would it increase the cost of our builds on netlify?

[2022-11-02 08:27] kattekrab commented on #1932
Upgrading gatsby is a dependency hellscape, so we've reverted some dependabot bumps to try and restore the pipeline, but our tests are still borked. :(

[2022-11-04 05:25] kattekrab commented on #1932
I think @sashperso / @sashaperso has had a go at fixing this.

PR needs review #1941

@tim-stasse @anjuskantha @eliseelk @ahussey-redhat @rohandry - anyone keen to review?

[2022-11-04 05:37] sashperso commented on #1932
@tim-stasse @anjuskantha and I were looking into upgrading Gatsby 2 to Gatsby 3 (and then to eventually stage this to Gatsby 4), and noticed that the gatsby-plugin-sass had a broken subdependency with node. We went into the gatsby-plugin-sass documentation and found that the plguin-sass version we were using was no longer compatible with the sub dependency so we found the latest available version

[2022-11-04 05:45] sashperso commented on #1932
From our understanding this should resolve the testing, and we're continuing on working on figuring out how to upgrade the gatsby version in one feel swoop but another issue :)

[2022-11-07 23:00] kattekrab commented on #1932
I merged #1941 - and then updated the branch for #1942 and the tests went green!

[2022-11-08 16:54] heyjerrybecker commented on #1933
Updated link and it's ready to go live at the next release :)